/* SEMANTIC */
:root {
    --red: #B03060;
    --orange: #FE9A76;
    --yellow: #FFD700;
    --olive: #32CD32;
    --green: #016936;
    --teal: #008080;
    --blue: #0E6EB8;
    --violet: #EE82EE;
    --purple: #B413EC;
    --pink: #FF1493;
    --brown: #A52A2A;
}

/* BULMA */
:root {
    --orange: #ff470f;
    --yellow: #fedd56;
    --green: #23d160;
    --turquoise: #00d1b1;
    --cyan: #209bee;
    --blue: #3273dc;
    --purple: #b76bff;
    --red: #fe385f;
}

/* MATERIAL */
:root {
    --blue: #2196f3;
    --indigo: #3f51b5;
    --purple: #9c27b0;
    --pink: #e91e63;
    --red: #f44336;
    --orange: #ff9800;
    --yellow: #ffeb3b;
    --green: #4caf50;
    --teal: #009688;
    --cyan: #00bcd4;
}


button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
  }
  
  button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translateX(-525%) rotate(35deg);
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg);
  }
  