/* SEMANTIC */
:root {
    --red: #B03060;
    --orange: #FE9A76;
    --yellow: #FFD700;
    --olive: #32CD32;
    --green: #016936;
    --teal: #008080;
    --blue: #0E6EB8;
    --violet: #EE82EE;
    --purple: #B413EC;
    --pink: #FF1493;
    --brown: #A52A2A;
}

/* BULMA */
:root {
    --orange: #ff470f;
    --yellow: #fedd56;
    --green: #23d160;
    --turquoise: #00d1b1;
    --cyan: #209bee;
    --blue: #3273dc;
    --purple: #b76bff;
    --red: #fe385f;
}

/* MATERIAL */
:root {
    --blue: #2196f3;
    --indigo: #3f51b5;
    --purple: #9c27b0;
    --pink: #e91e63;
    --red: #f44336;
    --orange: #ff9800;
    --yellow: #ffeb3b;
    --green: #4caf50;
    --teal: #009688;
    --cyan: #00bcd4;
}

a.call-to-action:hover:after {
    right: -4px;
}

a.call-to-action:after {
    font-size: 11px;
    margin-top: 3px;
    margin-left: 3px;
    display: inline-block;
    position: relative;
    right: 0;
    content: "î¬";
    vertical-align: top;
}



.floating {
    -webkit-animation: floating 3s ease infinite;
    animation: floating 3s ease infinite;
    will-change: transform;
}

.floating:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes floating {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


.perspective-left {
    -webkit-transform: scale(1) perspective(2000px) rotateY(11deg) rotateX(2deg) rotate(-2deg);
    transform: scale(1) perspective(2000px) rotateY(11deg) rotateX(2deg) rotate(-2deg);
}

.perspective-right {
    -webkit-transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
    transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
}

.perspective-left:hover,
.perspective-right:hover {
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}


.accordion > .card {
    overflow: hidden;
  }
  .accordion > .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
  }
  .accordion > .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
  }
  .accordion > .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion > .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion > .card .card-header {
    margin-bottom: -1px;
  }
  
.accordion .card {
    margin-bottom: 0;
  }
  .accordion .card-header {
    position: relative;
    cursor: pointer;
  }
  .accordion .card-header:after {
    content: "+";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  .accordion .card-header[aria-expanded=false]:after {
    content: "+";
  }
  .accordion .card-header[aria-expanded=true]:after {
    content: "-";
  }
  .accordion .card-header[aria-expanded=true] .heading {
    color: #6e00ff;
  }
  
  .accordion-spaced .card {
    margin-bottom: 1.5rem;
    border-radius: 0.375rem !important;
  }
  