@media (prefers-color-scheme: dark) {
    /* backgrounds */
    body,
    .bg-white {
        background-color: #1d1d1d !important;
        color: #fff !important;
    }
    footer,
    .bg-dark,
    .badge-dark,
    .badge-light:focus, 
    .badge-light:hover {
        background-color: #0e0e0e !important;
    }
    .bg-primary,
    .btn-primary,
    #primary-nav,
    #primary-nav .dropdown-menu {
        background-color: #275f91 !important;
        background-image: none;
    }
    .bg-light,
    .card,
    .list-group-item,
    .badge-light,
    .b4 .tile-single,
    div[class$=grad-] {
        background-color: #353535 !important;
        color: #fff !important;
        background-image: none !important;
    }

    /* colors */
    p, a, .text-primary,
    .text-dark {
        color: #fff !important;
    }
    .text-muted,
    .text-black-50 {
        color: #9da4aa !important;
    }
    a:hover, a:focus, a:active,
    a.text-dark:focus, a.text-dark:hover {
        color: #9da4aa !important;
    }

    /* borders */
    .card:not(.border-top-primary),
    .border,
    .border-bottom,
    .border-top,
    .border-left,
    .border-right,
    .list-group-item,
    .b4 .tile-single {
        border-color: rgba(255,255,255,.125) !important;
    }

    /* others */
    .shadow, 
    .shadow-sm,
    .card {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,0.5)!important;
    }
    a.badge-light.focus, a.badge-light:focus {
        box-shadow: 0 0 0 .125rem rgba(255,255,255,.125) !important;
    }

    @media screen and (max-width: 1200px) {
        .slide-menu, .user-slide-menu {
            background-color: #1d1d1d;
            background-image: linear-gradient(45deg,#1d1d1d,#343a40);
        }
        #primary-nav .dropdown-menu {
            background-color: #1d1d1d;
        }
        .slide-menu li:hover, .user-slide-menu li:hover {
            background-color: #1a1a1a;
        }
    }

}