.IMOTable tr.heading .col,
.IMOTable tr.row:hover .rowPanel,
.IMOTable tr.row:hover .rowPanel .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@-moz-keyframes wiggle {
  0%, 100% {
    opacity: 1;
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateY(-1px);
    opacity: 0.6;
  }
  75% {
    transform: translateX(1px);
  }
}
@-webkit-keyframes wiggle {
  0%, 100% {
    opacity: 1;
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateY(-1px);
    opacity: 0.6;
  }
  75% {
    transform: translateX(1px);
  }
}
@-o-keyframes wiggle {
  0%, 100% {
    opacity: 1;
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateY(-1px);
    opacity: 0.6;
  }
  75% {
    transform: translateX(1px);
  }
}
@keyframes wiggle {
  0%, 100% {
    opacity: 1;
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateY(-1px);
    opacity: 0.6;
  }
  75% {
    transform: translateX(1px);
  }
}
@-moz-keyframes sweller {
  0% {
    background: red;
    transform: scale(1);
  }
  50% {
    background: red;
    transform: scale(2.5);
  }
  100% {
    background: red;
    transform: scale(1);
  }
}
@-webkit-keyframes sweller {
  0% {
    background: red;
    transform: scale(1);
  }
  50% {
    background: red;
    transform: scale(2.5);
  }
  100% {
    background: red;
    transform: scale(1);
  }
}
@-o-keyframes sweller {
  0% {
    background: red;
    transform: scale(1);
  }
  50% {
    background: red;
    transform: scale(2.5);
  }
  100% {
    background: red;
    transform: scale(1);
  }
}
@keyframes sweller {
  0% {
    background: red;
    transform: scale(1);
  }
  50% {
    background: red;
    transform: scale(2.5);
  }
  100% {
    background: red;
    transform: scale(1);
  }
}
@-moz-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-o-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.IMOTable {
  border-spacing: 0;
  table-layout: fixed;
  display: table;
  position: relative;
  width: 100%;
}
.IMOTable .col {
  min-height: 60px;
  font-size: 14px;
}
.IMOTable .currency {
  font-size: 14px;
}
.IMOTable .col.sorted {
  cursor: pointer;
  color: #2375bb;
}
.IMOTable .sort {
  display: block;
}
.IMOTable tr {
  display: flex;
  flex-flow: row;
}
.IMOTable td {
  padding: 0;
}
.IMOTable tr.heading {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 14px;
  user-select: none;
  box-shadow: none;
  width: 100%;
}
.IMOTable tr.heading th {
  display: flex;
  align-items: center;
}
.IMOTable tr.heading th.check_col {
  min-height: 61px;
}
.IMOTable tr.heading:hover {
  background-color: #fff;
  box-shadow: none;
}
.IMOTable tr.heading .HeadingPanel {
  position: absolute;
  top: 1px;
  left: 46px;
  width: 1232px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-flow: row;
  height: 60px;
  opacity: 0;
  z-index: -1;
}
.IMOTable tr.heading .HeadingPanel.shown {
  opacity: 1;
  z-index: 1;
}
.IMOTable tr.heading .HeadingPanel span.numRows {
  font-weight: normal;
}
.IMOTable tr.heading .headingActions {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 220px;
  margin-right: 20px;
  position: relative;
  height: 100%;
  align-items: center;
}
.IMOTable tr.heading .headingActions .Icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 100%;
}
.IMOTable tr.heading .headingActions .Icon i {
  color: #454545;
}
.IMOTable tr.heading .headingActions .Icon:hover {
  background-color: rgba(35,117,183,0.1);
}
.IMOTable tr.heading .headingActions .Icon:hover i {
  color: #005394;
}
.IMOTable tr.heading th {
  padding: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.IMOTable tr.heading th:first-child {
  border-left: none;
}
.IMOTable tr.heading th:last-child {
  border-right: 1px solid #ddd;
}
.IMOTable tr.heading .col {
  justify-content: flex-start;
  padding: 0 10px;
  width: 100%;
  color: #454545;
}
.IMOTable tr.heading .col.right {
  text-align: right;
  justify-content: flex-end;
}
.IMOTable tr.heading .col.sorted {
  justify-content: space-between;
  color: #2375bb;
}
.IMOTable tr.heading .sort.up .up-arrow {
  color: #2375bb;
}
.IMOTable tr.heading .sort.up .down-arrow {
  color: #ddd;
}
.IMOTable tr.heading .sort.down .up-arrow {
  color: #ddd;
}
.IMOTable tr.heading .sort.down .down-arrow {
  color: #2375bb;
}
.IMOTable table {
  width: 100%;
}
.IMOTable tr.row {
  border-bottom: 1px solid #ddd;
  position: relative;
  box-shadow: 0 0 0 #999;
  transition: box-shadow 0.3s;
}
.IMOTable tr.row > td {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.IMOTable tr.row:hover {
  box-shadow: 0 2px 6px #999;
}
.IMOTable tr.row:hover .rowPanel {
  opacity: 1;
  z-index: 1;
  justify-content: space-around;
}
.IMOTable tr.row:hover .rowPanel .Icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 100%;
}
.IMOTable tr.row:hover .rowPanel .Icon:hover {
  background-color: rgba(35,117,183,0.1);
}
.IMOTable tr.row:hover .rowPanel .Icon:hover i {
  color: #005394;
}
.IMOTable tr.row.notifyHighlight {
  background-color: #f9f5ec;
}
.IMOTable tr.row.notifyHighlight .Icon:hover {
  background-color: rgba(183,133,57,0.1) !important;
}
.IMOTable tr.row.notifyHighlight .rowPanel {
  background-color: #f9f5ec;
}
.IMOTable tr.row.selected {
  box-shadow: 0 2px 6px #999;
  background-color: #e9f2f9;
}
.IMOTable tr.row.selected .Icon:hover {
  background-color: rgba(35,117,183,0.1) !important;
}
.IMOTable tr.row.selected .rowPanel {
  background-color: #e9f2f9;
}
.IMOTable tr.row .rowPanel {
  position: absolute;
  right: 8px;
  top: 3px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: #fff;
  height: 55px;
  width: 212px;
  opacity: 0;
  z-index: -1;
}
.IMOTable tr.row .rowPanel i {
  color: #454545;
}
.IMOTable tr.row td {
  padding: 0;
}
.IMOTable tr.row td .col {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  word-wrap: break-word;
}
.IMOTable tr.row td .col.right {
  text-align: right;
  justify-content: flex-end;
}
.IMOTable tr.row td .col > a {
  color: #2375bb;
  text-decoration: none;
}
.IMOTable tr.row td .col > a:hover {
  text-decoration: underline;
}
.IMOTable .sort {
  font-weight: 900;
  font-size: 15px;
  color: #ddd;
  margin-left: 10px;
}
.IMOTable .sort .up-arrow:before {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
}
.IMOTable .sort .down-arrow:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
}
.IMOTable .check_col {
  width: 45px;
  padding: 0 !important;
}
.IMOTable .check_col > div {
  width: 20px;
  margin: 0 auto;
}
.IMOTable .Notifier {
  margin: 12px;
}

/* CHECKBOX */

.CheckBox input[type="checkbox"]:checked + label::before,
.CheckBox input[type="checkbox"][checked="checked"] + label::before {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.CheckBox {
  position: relative;
}
.CheckBox input[type="checkbox"] {
  left: -99999px;
  opacity: 0;
  position: absolute;
}
.CheckBox label {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding-left: 35px;
  vertical-align: middle;
}
.CheckBox label::before {
  background: #fff;
  border: 2px solid #999;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}
.CheckBox input[type="checkbox"]:focus + label::before,
.CheckBox input[type="checkbox"].focus + label::before {
  -webkit-box-shadow: 0 0 8px #2375bb;
  -moz-box-shadow: 0 0 8px #2375bb;
  box-shadow: 0 0 8px #2375bb;
  outline: none;
}
.CheckBox input[type="checkbox"]:checked + label::before,
.CheckBox input[type="checkbox"][checked="checked"] + label::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f00c";
  color: #2375bb;
  font-size: 11px;
}


/* ICON */

.Icon,
.Icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Icon {
    font-size: 20px;
  }
  .Icon.rounded {
    border-radius: 100%;
  }
  .Icon i {
    color: #454545;
  }
  .Icon i.orange {
    color: #e1500b;
  }
  .Icon i.red {
    color: #c33d39;
  }
  .Icon i.blue {
    color: #2375bb;
  }
  .Icon i.orange:hover {
    color: #cb4708;
  }
  .Icon i.blue:hover {
    color: #005394;
  }
  .Icon i.yellow {
    color: #eba90c;
  }
  .Icon i.green {
    color: #085c26;
  }
  .Icon i.purple {
    color: #970985;
  }
  .Icon i.grey0 {
    color: #333;
  }
  .Icon i.grey1 {
    color: #454545;
  }
  .Icon i.grey2 {
    color: #999;
  }
  .Icon i.grey3 {
    color: #ddd;
  }
  .Icon i.grey4 {
    color: #eee;
  }
  .Icon i.grey5 {
    color: #f8f8f8;
  }
  .Icon i.white {
    color: #fff;
  }
  .Icon i.fGreen {
    color: #b9e18b;
  }
  .Icon i.fRed {
    color: #ffbdbb;
  }
  .Icon i.fOrange {
    color: #fbc3a9;
  }
  .Icon i.fYellow {
    color: #f8e1aa;
  }
  .Icon i.fBlue {
    color: #cbe0f9;
  }
  .Icon i.tGreen {
    color: rgba(11,118,48,0.1);
  }
  .Icon i.tBlue {
    color: rgba(35,117,183,0.1);
  }
  .Icon i.tRed {
    color: rgba(195,61,57,0.1);
  }
  