/* MATERIAL */
svg.img-fluid, img[src*=".svg"] {
    max-width: 100%;
    height: auto;
    width: 100% \9; /*IE10*/
}

.card [class*=card-header-] .card-icon,.card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: right;
}
.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3c4858;
}
.card-stats .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.card.bg-primary,.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-primary .back,.card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg,#ab47bc,#8e24aa)
}

.card.bg-info,.card .card-header-info .card-icon,.card .card-header-info .card-text,.card .card-header-info:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-info .back,.card.card-rotate.bg-info .front {
    background: linear-gradient(60deg,#26c6da,#00acc1)
}

.card.bg-success,.card .card-header-success .card-icon,.card .card-header-success .card-text,.card .card-header-success:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-success .back,.card.card-rotate.bg-success .front {
    background: linear-gradient(60deg,#66bb6a,#43a047)
}

.card.bg-warning,.card .card-header-warning .card-icon,.card .card-header-warning .card-text,.card .card-header-warning:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-warning .back,.card.card-rotate.bg-warning .front {
    background: linear-gradient(60deg,#ffa726,#fb8c00)
}

.card.bg-danger,.card .card-header-danger .card-icon,.card .card-header-danger .card-text,.card .card-header-danger:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-danger .back,.card.card-rotate.bg-danger .front {
    background: linear-gradient(60deg,#ef5350,#e53935)
}

.card.bg-rose,.card .card-header-rose .card-icon,.card .card-header-rose .card-text,.card .card-header-rose:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-rose .back,.card.card-rotate.bg-rose .front {
    background: linear-gradient(60deg,#ec407a,#d81b60)
}



.alert.alert-with-icon {
    margin-top: 43px;
    padding-left: 66px
}

.alert.alert-with-icon i[data-notify=icon] {
    display: block;
    left: 15px;
    position: absolute;
    margin-top: -39px;
    font-size: 20px;
    background-color: #fff;
    padding: 9px;
    border-radius: 50%;
    max-width: 38px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}


.card-collapse .card-header a[aria-expanded=true] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}


.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    color: #fff;
    border-radius: 4px;
}


.dropdown .dropdown-menu.show .dropdown-item.dropdown-toggle+.dropdown-menu.show {
    left: 101%!important;
    transform: scale(1);
}


.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.4375rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: .125rem;
    appearance: none;
}
select, select.custom-file-control, select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* BULMA */
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #3273dc;
    right: 1.125em;
    z-index: 4;
}
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .625em;
}

/* SEMANTIC */

.ui.divider {
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.ui.grid>.column+.divider,.ui.grid>.row>.column+.divider {
    left: auto
}

.ui.horizontal.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    line-height: 1;
    text-align: center
}

.ui.horizontal.divider:after,.ui.horizontal.divider:before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat
}

.ui.horizontal.divider:before {
    background-position: right 1em top 50%
}

.ui.horizontal.divider:after {
    background-position: left 1em top 50%
}


.ui.ribbon.label {
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
}
.ui.ribbon.label {
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0,0,0,.15);
}
.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent!important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0;
}

.ui[class*="right ribbon"].label {
    text-align: left;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-radius: .28571429rem 0 0 .28571429rem;
}
.ui[class*="right ribbon"].label {
    left: calc(100% + 1rem + 1.2em);
    padding-left: 1.2em;
    padding-right: calc(1rem + 1.2em);
}
.ui[class*="right ribbon"].label:after {
    left: auto;
    right: 0;
    border-style: solid;
    border-width: 1.2em 1.2em 0 0;
    border-color: transparent;
    border-top-color: inherit;
}


.ui.steps {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 1em 0;
    background: '';
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.14285714em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15)
}

.ui.steps:first-child {
    margin-top: 0
}

.ui.steps:last-child {
    margin-bottom: 0
}

.ui.steps .step {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0;
    padding: 1.14285714em 2em;
    background: #fff;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-right: 1px solid rgba(34,36,38,.15);
    -webkit-transition: background-color .1s ease,opacity .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease
}

.ui.steps .step:after {
    display: none;
    position: absolute;
    z-index: 2;
    content: '';
    top: 50%;
    right: 0;
    border: medium none;
    background-color: #fff;
    width: 1.14285714em;
    height: 1.14285714em;
    border-style: solid;
    border-color: rgba(34,36,38,.15);
    border-width: 0 1px 1px 0;
    -webkit-transition: background-color .1s ease,opacity .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg)
}

.ui.steps .step:first-child {
    padding-left: 2em;
    border-radius: .28571429rem 0 0 .28571429rem
}

.ui.steps .step:last-child {
    border-radius: 0 .28571429rem .28571429rem 0
}

.ui.steps .step:last-child {
    border-right: none;
    margin-right: 0
}

.ui.steps .step:only-child {
    border-radius: .28571429rem
}

.ui.steps .step .title {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.14285714em;
    font-weight: 700
}

.ui.steps .step>.title {
    width: 100%
}

.ui.steps .step .description {
    font-weight: 400;
    font-size: .92857143em;
    color: rgba(0,0,0,.87)
}

.ui.steps .step>.description {
    width: 100%
}

.ui.steps .step .title~.description {
    margin-top: .25em
}

.ui.steps .step>.icon {
    line-height: 1;
    font-size: 2.5em;
    margin: 0 1rem 0 0
}

.ui.steps .step>.icon,.ui.steps .step>.icon~.content {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: middle;
    align-self: middle
}

.ui.steps .step>.icon~.content {
    -webkit-box-flex: 1 0 auto;
    -ms-flex-positive: 1 0 auto;
    flex-grow: 1 0 auto
}

.ui.steps:not(.vertical) .step>.icon {
    width: auto
}

.ui.steps .link.step,.ui.steps a.step {
    cursor: pointer
}

.ui.ordered.steps {
    counter-reset: ordered
}

.ui.ordered.steps .step:before {
    display: block;
    position: static;
    text-align: center;
    content: counters(ordered, ".");
    -ms-flex-item-align: middle;
    align-self: middle;
    margin-right: 1rem;
    font-size: 2.5em;
    counter-increment: ordered;
    font-family: inherit;
    font-weight: 700
}

.ui.ordered.steps .step>* {
    display: block;
    -ms-flex-item-align: middle;
    align-self: middle
}


/* UIKit */

.uk-accordion-title::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213…22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.uk-open>.uk-accordion-title::before {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213…%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

.uk-animation-kenburns {
    animation-name: uk-scale-kenburns;
    animation-duration: 15s
}


/* SPECTRE */


.comparison-slider {
    height: 50vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 100%
}

.comparison-slider .comparison-after,.comparison-slider .comparison-before {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0
}

.comparison-slider .comparison-after img,.comparison-slider .comparison-before img {
    height: 100%;
    object-fit: cover;
    object-position: left center;
    position: absolute;
    width: 100%
}

.comparison-slider .comparison-before {
    width: 100%;
    z-index: 1
}

.comparison-slider .comparison-before .comparison-label {
    right: .8rem
}

.comparison-slider .comparison-after {
    max-width: 100%;
    min-width: 0;
    z-index: 2
}

.comparison-slider .comparison-after::before {
    background: 0 0;
    content: "";
    cursor: default;
    height: 100%;
    left: 0;
    position: absolute;
    right: .8rem;
    top: 0;
    z-index: 1
}

.comparison-slider .comparison-after::after {
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 -5px,0 5px;
    color: #fff;
    content: "";
    height: 3px;
    position: absolute;
    right: .4rem;
    top: 50%;
    transform: translate(50%,-50%);
    width: 3px
}

.comparison-slider .comparison-after .comparison-label {
    left: .8rem
}

.comparison-slider .comparison-resizer {
    cursor: ew-resize;
    height: .8rem;
    left: 0;
    max-width: 100%;
    min-width: .8rem;
    opacity: 0;
    outline: 0;
    position: relative;
    resize: horizontal;
    top: 50%;
    transform: translateY(-50%) scaleY(30);
    width: 0
}

.comparison-slider .comparison-label {
    background: rgba(48,55,66,.5);
    bottom: .8rem;
    color: #fff;
    padding: .2rem .4rem;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


.container .big-image {
    max-width: 100vw;
    width: 100vw;
    margin: 0 alc(-50vw + 50%);
    max-height: 30vh;
    object-fit: cover;
}