<div class="alert alert-success alert-dismissible fade show">Your message was delivered. Thank you!<button class="close" data-dismiss="alert">×</button></div>

<!-- 01. One column -->

<div class="form-group">
    $$label:Name$$
    $$input:Name$$
    $$validation:Name$$
</div>
<div class="form-group">
    $$label:Email$$
    $$input:Email$$
    $$validation:Email$$
</div>
<div class="form-group">
    $$label:DataPrivacy$$
    $$input:DataPrivacy$$
    $$validation:DataPrivacy$$
</div>
<div class="form-group">
    <p>$$submitbutton$$</p>
</div>

<!-- 02. Two columns -->

<div class="row">
    <div class="form-group col-md-6">
        $$label:Name$$
        $$input:Name$$
        $$validation:Name$$
    </div>
    <div class="form-group col-md-6">
        $$label:Email$$
        $$input:Email$$
        $$validation:Email$$
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        $$label:DataPrivacy$$
        $$input:DataPrivacy$$
        $$validation:DataPrivacy$$
    </div>
    <div class="form-group col-md-12">
        <p>$$submitbutton$$</p>
    </div>
</div>

<!-- 03. Regular -->

<div class="row">
    <div class="form-group col-md-6">
        $$label:Name$$
    </div>
    <div class="form-group col-md-6">
        $$input:Name$$
        $$validation:Name$$
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        $$label:Email$$
    </div>
    <div class="form-group col-md-6">
        $$input:Email$$
        $$validation:Email$$
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        &nbsp;
    </div>
    <div class="form-group col-md-6">
        $$label:DataPrivacy$$
        $$input:DataPrivacy$$
        $$validation:DataPrivacy$$
    </div>
    <div class="form-group col-md-6">
        &nbsp;
    </div>
    <div class="form-group col-md-6">
        <p>$$submitbutton$$</p>
    </div>
</div>



<!-- INPUT GROUP: Branch number + Customer number: 

{% CurrentUser.imBranchNbr + CurrentUser.imCustomerNbr %}
BranchNumber: Control CSS Class: branch
BranchNumber Content Before and After: <div class="input-group-prepend" style="max-width:50px;"> </div>

CustomerNumber: Control CSS Class: custnumber
CustomerNumber: Explanation text: <small class="text-muted">Branch number + Customer number</small>
-->

<div class="row">
    <div class="form-group col-md-4 pt-2">$$label:CustomerNumber$$</div>
    <div class="form-group col-md-6">
        <div class="input-group">
            $$input:BranchNumber$$ $$input:CustomerNumber$$
        </div>
        $$validation:BranchNumber$$ $$validation:CustomerNumber$$
    </div>
</div>



<!-- ICONS (Content Before and After) -->

<div class="icon-user"> </div>
<div class="icon-email"> </div>
<div class="icon-phone"> </div>
<div class="icon-date"> </div>
<div class="icon-time"> </div>

<!-- Custom CSS Classes 

Checkbox, Radio, Select:
Control CSS Class: custom

Dates:
Control CSS Class: input-group date

Switch:
Control CSS Class: material-switch

File upload:
Caption CSS Class: custom-file-label
Control CSS Class: custom-file-input

-->



<!-- General error message 
{$ general.errorvalidationerror $}
-->

<!-- RegEx

\w  // word
\W  // not word
\d  // digit
\s  // whitespace
\n  // new line
^  // start
$  // end

{2}  // quantifier
{2,4}  // 2-4
{2,}  / w or more
?  // optional
+  // 1 or more
*  // 0 or more

[0-9]{4}\s?-?[A-Za-z]{2}  // NL PostCode (1742NL OR 1742 NL)
^[0-9+\(\)#\.\s\/-]+$  // Phone
^[a-zA-Z0-9.!#$%&'*+\-/=?\^_`{|}~]+@[a-z0-9-]+(\.[a-zA-Z0-9-]+)*$ // Email
^[\d\s?\-?\/?\(\)])${6,8}  // Branch number and Customer number


-->



<!-- Form Macros

{% if( Country.Value == "Austria" ){ "28" } %}
{% if( Country.Value.Contains("Austria") ){ "28" } %}
{% Email.Value.Matches("^[a-zA-Z0-9.!#$%&'*+\-/=?\^_`{|}~]+@[a-z0-9-]+(\.[a-zA-Z0-9-]+)*$") && Email.Value.Length < 255 %}

-- CurrentUser

{% FirstName %}
{% LastName %}
{% FullName %}
{% Email %}
{% UserPhone %}
{% UserPosition %}
{% IsAuthenticated %}
{% IsInRole("") %}

{% imBranchNbr %}
{% imCustomerNbr %}
{% imCustName %}
{% imCountryCode %}
{% imSK_Cust %}
{% imSK_Valid %} 

-->


<!-- JS -->

<!-- Textarea counter: 
     1. Place div and JS in HTML After;
     2. Add .textarea to Control CSS Class 

     Email placeholder:
     1. Place JS in HTML After;
     2. Add .form-email to Control CSS Class 
-->
<div class="small text-muted" id="charNum">0/100</div>
<script>
$(document).ready(function() {
    $('.textarea').on("keyup", function () {
        var max = 100;
        var len = $(this).val().length;
        if (len >= max) {
            $('#charNum').text('You have reached the limit');
        } else {
            var char = max - len;
            $('#charNum').text(char + '/' + max);
        }
    });


    if($(".form-email").val() == ""){
       $(".form-email").val("E-mail*");
    }
 
    if($('.form-email').val() != "E-mail*") {
       $('.form-email').removeClass('WatermarkText');  
    }
 
    $(".form-email").focus(function(){
       if($(".form-email").val() == "E-mail*"){
           $(".form-email").val("").removeClass('WatermarkText');
         }
    });
    $('.form-email').blur(function(){
       if($(".form-email").val() == ""){
           $(".form-email").val("E-mail*").addClass('WatermarkText');
         }
    });
     
    $('.form-email').keypress(function(){  
       $(this).removeClass('WatermarkText');  
    });
});
</script>



<!-- DataTimePicker -->

<link rel="stylesheet" type="text/css" href="/1IMv2/ext/css/bootstrap-datetimepicker.min-4.17.44.css">
<link rel="stylesheet" type="text/css" href="/1IMv2/ext/css/datetimepicker-and-custom-styles.css">
<script src="/1IMv2/ext/js/moment-with-locales.min-4.17.44.js"></script>
<script src="/1IMv2/ext/js/bootstrap-datetimepicker.min-4.17.44.js"></script>
<script>
    $(".date").datetimepicker({
        icons: {
            time: "far fa-clock",
            date: "fas fa-calendar-alt",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down"
        },
        format: "YYYY-MM-DD",
        locale: 'de'

    });
    $(".time").datetimepicker({
        icons: {
            time: "far fa-clock",
            date: "fas fa-calendar-alt",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down"
        },
        format: "HH:mm",
        locale: 'de'
    });
</script>

<style>
    .WatermarkText {
        color: #6c757d !important;
    }
    .fas {
        font-weight: 900;
    }
    .FormButton {
        font-size: 90%;
        text-transform: uppercase;
        letter-spacing: .4px;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
</style>



<!-- Form Wizard  -->

<div id="quiz" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="form-group">
            $$label:Name$$
            $$input:Name$$
            $$validation:Name$$
        </div>
      </div>
      <div class="carousel-item">
        <div class="form-group">
            $$label:Email$$
            $$input:Email$$
            $$validation:Email$$
        </div>
      </div>
    </div>
    <p class="text-right">
        <a class="btn btn-primary mr-2" href="#quiz" role="button" data-slide="prev">Previous</a>
        <a class="btn btn-primary mr-2" href="#quiz" role="button" data-slide="next">Next</a>
        $$submitbutton$$
    </p>
</div>
<script>
$(document).ready(function(){
    $('.carousel').carousel({
        pause: true,
        interval: false,
        ride: false,
        touch: true,
        wrap: false
    });
});
    
</script>