<style>

/*Header Img*/
  
  .header-img {
      background-position:center center;
      background-repeat:no-repeat;
      background-size:cover;
    }

  @media (min-width: 768px){
   .header-img {
      background-image:url(/getattachment/e5a6ded1-39c0-411a-8c8b-3fd67dba67d0/hacker-ladscape.jpg.aspx);
    }
  }
  
  @media (min-width: 992px){
    .header-img {
      height:28.6vw;
    }
  }
  
  @media (max-width: 992px){
    .header-img {
      height:50vh;
    }
  }
  

  @media (max-width: 768px){    
    .header-img {
      height:calc(100vh - 3.3rem);
      background-image:url(/getattachment/66b47a90-eefc-4dc8-9427-e300e4faf68f/hacker-portrait.jpg.aspx);
    }
    
    .display-3 {
      font-size: 2rem;
    }
  }
</style>