<p>
    {$ 1IM.PageWorflow.AwaitingApproval.Intro $}
</p>

<table>
    <tr>
        <td><strong>{% GetResourceString("1IM.PageWorflow.AwaitingApproval.Preview").ToUpper() #%}:</strong></td>ToUpper
        <td>
            {% ifEmpty(DocumentPreviewUrl, "", "(<a href=\"" + DocumentPreviewUrl + "\">"+ GetResourceString("1IM.PageWorflow.AwaitingApproval.Preview") +"</a>)")|(encode)false#%}
        </td>
    </tr>

    <tr>
        <td><strong>{% GetResourceString("1IM.PageWorflow.AwaitingApproval.PreviewExternal").ToUpper() #%}:</strong><br />
            {$ 1IM.PageWorflow.AwaitingApproval.PreviewExternalHelp $}
        </td>
        <td>
            {% ifEmpty(DocumentPreviewUrl, "", "(<a href=\"" + DocumentPreviewUrl.ToString().Replace(CurrentSite.SiteDomainName,CurrentSite.SiteDomainName.ToString().Replace("-",".")) + "\">"+ GetResourceString("1IM.PageWorflow.AwaitingApproval.PreviewExternal") +"</a>)")|(encode)false#%}
        </td>
    </tr>

    <tr>
        <td><strong>Zur Dokumentfreigabe:</strong></td>
        <td>
            <a href="{%DocumentEditUrl%}">{%documentname%}</a>
        </td>
    </tr>
    <tr>
        <td><strong>Comment:</strong></td>
        <td>
            {%comment%}
        </td>
    </tr>

    <tr>
        <td><strong>Last approved by:</strong></td>
        <td>
            {%approvedby%}
        </td>
    </tr>
    <tr>
        <td><strong>Last approved when:</strong></td>
        <td>
            {%approvedwhen%}
        </td>
    </tr>
    <tr>
        <td><strong>Original step:</strong></td>
        <td>
            {%originalstepname%}
        </td>
    </tr>
    <tr>
        <td><strong>Current step:</strong></td>
        <td>
            {%currentstepname%}
        </td>
    </tr>
</table>