<p>
    The following document is waiting for your approval. Please use the links below to log in to site and approve or reject document 
</p>

<table>
    <tr>
        <td><strong>PREVIEW</strong></td>
        <td>
            {% ifEmpty(DocumentPreviewUrl, "", "(<a href=\"" + DocumentPreviewUrl + "\">preview</a>)")|(encode)false#%}
        </td>
    </tr>

    <tr>
        <td><strong>EXTERNAL PREVIEW</strong><br />
            {$ 1IM.PageWorflow.AwaitingApproval.PreviewExternalHelp $}
        </td>
        <td>
            {% ifEmpty(DocumentPreviewUrl, "", "(<a href=\"" + DocumentPreviewUrl.ToString().Replace(CurrentSite.SiteDomainName,CurrentSite.SiteDomainName.ToString().Replace("-",".")) + "\">external preview</a>)")|(encode)false#%}
        </td>
    </tr>

    <tr>
        <td><strong>Got to document:</strong></td>
        <td>
            <a href="{%DocumentEditUrl%}">{%documentname%}</a>
        </td>
    </tr>
    <tr>
        <td><strong>Comment:</strong></td>
        <td>
            {%comment%}
        </td>
    </tr>

    <tr>
        <td><strong>Approval requested by:</strong></td>
        <td>
            {%approvedby%}
        </td>
    </tr>
    <tr>
        <td><strong>Requested on:</strong></td>
        <td>
            {%approvedwhen%}
        </td>
    </tr>
    <tr>
        <td><strong>Original step:</strong></td>
        <td>
            {%originalstepname%}
        </td>
    </tr>
    <tr>
        <td><strong>Current step:</strong></td>
        <td>
            {%currentstepname%}
        </td>
    </tr>
</table>