#dataHeader h2 {
  margin-bottom: 10px;
}

#dataHeader table {
  width: 100%;
}

#dataHeader td {
  padding: 5px;
  vertical-align: top;
}

#dataHeader .badge-pill {
  font-size: 1.25em;
  line-height: 2em;
  padding-bottom: 3px;
  padding-top: 3px;
}

#DTPackage_wrapper {
  padding-top: 15px;
  transition: all 0.3s ease;
  width: 100%;
  -webkit-transition: all 0.3s ease;
}

#DTPackage {
  z-index: 995;
}

#DTPackage > tbody > tr:not(.row-details) {
  cursor: pointer;
}

.badge-pill {
  line-height: 2em;
  padding-bottom: 3px;
  padding-top: 3px;
}

#DTProduct thead th {
  font-size: 1.4rem;
}

#DTProduct tr, #DTProduct tr:hover {
  box-shadow: none;
}

#DTProduct tbody td {
  font-size: 1.2rem;
}

#DTTracking thead {
  display: none;
}

#slidein-menu {
  right: -25%;
  width: 25% !important;
}

