<br />


<div class="ETCGfloor" name="floorBody" draggable="true">
  <button id="printerGF01" class="printer">
      <span class="title">1</span>
  </button>
  <div class="right-section">
    <button id="btn503" class="buttonB">
      <span class="title">14</span>
    </button>
    <button id="btn504" class="buttonB">
      <span class="title">12</span>
    </button>
    <button id="btn505" class="buttonB">
      <span class="title">13</span>
    </button>
    <button id="btn506" class="buttonB">
      <span class="title">10</span>
    </button>
    <button id="btn507" class="buttonB">
      <span class="title">11</span>
    </button>
    <button id="btn508" class="buttonB">
      <span class="title">8</span>
    </button>
    <button id="btn509" class="buttonB">
      <span class="title">9</span>
    </button>

    <button id="btn510" class="buttonB">
      <span class="title">16</span>
    </button>
    <button id="btn511" class="buttonB">
      <span class="title">17</span>
    </button>
    <button id="btn512" class="buttonB">
      <span class="title">18</span>
    </button>
    <button id="btn513" class="buttonB">
      <span class="title">19</span>
    </button>
    <button id="btn514" class="buttonB">
      <span class="title">20</span>
    </button>
    <button id="btn515" class="buttonB">
      <span class="title">21</span>
    </button>
    <button id="btn516" class="buttonB">
      <span class="title">22</span>
    </button>
    <button id="btn517" class="buttonB">
      <span class="title">23</span>
    </button>

    <button id="btn518" class="buttonB">
      <span class="title">25</span>
    </button>
    <button id="btn519" class="buttonB">
      <span class="title">26</span>
    </button>
    <button id="btn520" class="buttonB">
      <span class="title">27</span>
    </button>
    <button id="btn521" class="buttonB">
      <span class="title">28</span>
    </button>
    <button id="btn522" class="buttonB">
      <span class="title">29</span>
    </button>
    <button id="btn523" class="buttonB">
      <span class="title">30</span>
    </button>
    <button id="btn524" class="buttonB">
      <span class="title">31</span>
    </button>

    <button id="btn527" class="buttonB">
      <span class="title">32</span>
    </button>
    <button id="btn528" class="buttonB">
      <span class="title">33</span>
    </button>
    <button id="btn529" class="buttonB">
      <span class="title">34</span>
    </button>
    <button id="btn530" class="buttonB">
      <span class="title">35</span>
    </button>
    <button id="btn531" class="buttonB">
      <span class="title">36</span>
    </button>
    <button id="btn532" class="buttonB">
      <span class="title">37</span>
    </button>
    <button id="btn533" class="buttonB">
      <span class="title">38</span>
    </button>
    <button id="btn534" class="buttonB">
      <span class="title">39</span>
    </button>

    <button id="btn535" class="buttonB">
      <span class="title">41</span>
    </button>
    <button id="btn536" class="buttonB">
      <span class="title">42</span>
    </button>
    <button id="btn537" class="buttonB">
      <span class="title">43</span>
    </button>
    <button id="btn538" class="buttonB">
      <span class="title">44</span>
    </button>
    <button id="btn539" class="buttonB">
      <span class="title">45</span>
    </button>
    <button id="btn540" class="buttonB">
      <span class="title">46</span>
    </button>
    <button id="btn541" class="buttonB">
      <span class="title">47</span>
    </button>
    <button id="btn542" class="buttonB">
      <span class="title">48</span>
    </button>

    <button id="btn598" class="buttonB">
      <span class="title">57</span>
    </button>
    <button id="btn599" class="buttonB">
      <span class="title">58</span>
    </button>

    <button id="btn600" class="buttonB">
      <span class="title">59</span>
    </button>
    <button id="btn601" class="buttonB">
      <span class="title">60</span>
    </button>

    <button id="btn545" class="buttonB">
      <span class="title">61</span>
    </button>
    <button id="btn547" class="buttonB">
      <span class="title">62</span>
    </button>
    <button id="btn548" class="buttonB">
      <span class="title">63</span>
    </button>
    <button id="btn549" class="buttonB">
      <span class="title">64</span>
    </button>
    <button id="btn550" class="buttonB">
      <span class="title">65</span>
    </button>
    <button id="btn551" class="buttonB">
      <span class="title">66</span>
    </button>
    <button id="btn552" class="buttonB">
      <span class="title">67</span>
    </button>

    <button id="btn554" class="buttonB">
      <span class="title">70</span>
    </button>
    <button id="btn556" class="buttonB">
      <span class="title">71</span>
    </button>
    <button id="btn557" class="buttonB">
      <span class="title">72</span>
    </button>
    <button id="btn558" class="buttonB">
      <span class="title">73</span>
    </button>
    <button id="btn559" class="buttonB">
      <span class="title">74</span>
    </button>
    <button id="btn560" class="buttonB">
      <span class="title">75</span>
    </button>
    <button id="btn561" class="buttonB">
      <span class="title">76</span>
    </button>

    <button id="btn563" class="buttonB">
      <span class="title">80</span>
    </button>
    <button id="btn564" class="buttonB">
      <span class="title">81</span>
    </button>
    <button id="btn565" class="buttonB">
      <span class="title">82</span>
    </button>
    <button id="btn566" class="buttonB">
      <span class="title">83</span>
    </button>
    <button id="btn567" class="buttonB">
      <span class="title">84</span>
    </button>
    <button id="btn568" class="buttonB">
      <span class="title">85</span>
    </button>
    <button id="btn569" class="buttonB">
      <span class="title">86</span>
    </button>

    <button id="btn570" class="buttonB">
      <span class="title">89</span>
    </button>
    <button id="btn571" class="buttonB">
      <span class="title">90</span>
    </button>
    <button id="btn572" class="buttonB">
      <span class="title">91</span>
    </button>
    <button id="btn573" class="buttonB">
      <span class="title">92</span>
    </button>
    <button id="btn574" class="buttonB">
      <span class="title">93</span>
    </button>
    <button id="btn575" class="buttonB">
      <span class="title">94</span>
    </button>
    <button id="btn576" class="buttonB">
      <span class="title">95</span>
    </button>

    <!-- <button id="btn571" class="buttonB">
      <span class="title">14</span>
    </button>
    <button id="btn572" class="buttonB">
      <span class="title">12</span>
    </button>
    <button id="btn573" class="buttonB">
      <span class="title">13</span>
    </button>
    <button id="btn574" class="buttonB">
      <span class="title">10</span>
    </button>
    <button id="btn575" class="buttonB">
      <span class="title">11</span>
    </button>
    <button id="btn576" class="buttonB">
      <span class="title">8</span>
    </button> -->
  </div>



  <div id="etcGFkitchen" class="room">
    <span class="roomName"></span>
  </div>
  <div id="etcGFserver" class="room">
    <span class="roomName"></span>
  </div>
  <div id="etcGFsao-paolo" class="room">
    <span class="roomName"></span>
  </div>
  <div id="etcGFbuenos-aires" class="room">
    <span class="roomName"></span>
  </div>
  <div class="etcGFentrance"></div>
  <div class="etcGFtoilet-m"></div>
  <div class="etcGFtoilet-f"></div>

  <div class="left-section">
    <button id="btn577" class="buttonB">
      <span class="title">115</span>
    </button>
    <button id="btn578" class="buttonB">
      <span class="title">116</span>
    </button>
    <button id="btn579" class="buttonB">
      <span class="title">117</span>
    </button>
    <button id="btn580" class="buttonB">
      <span class="title">118</span>
    </button>
    <button id="btn581" class="buttonB">
      <span class="title">119</span>
    </button>

    <button id="btn582" class="buttonB">
      <span class="title">107</span>
    </button>
    <button id="btn583" class="buttonB">
      <span class="title">108</span>
    </button>
    <button id="btn584" class="buttonB">
      <span class="title">109</span>
    </button>
    <button id="btn585" class="buttonB">
      <span class="title">110</span>
    </button>
    <button id="btn586" class="buttonB">
      <span class="title">111</span>
    </button>
    <button id="btn587" class="buttonB">
      <span class="title">112</span>
    </button>
    <button id="btn588" class="buttonB">
      <span class="title">113</span>
    </button>
    <button id="btn589" class="buttonB">
      <span class="title">114</span>
    </button>

    <button id="btn590" class="buttonB">
      <span class="title">99</span>
    </button>
    <button id="btn591" class="buttonB">
      <span class="title">100</span>
    </button>
    <button id="btn592" class="buttonB">
      <span class="title">101</span>
    </button>
    <button id="btn593" class="buttonB">
      <span class="title">102</span>
    </button>
    <button id="btn594" class="buttonB">
      <span class="title">103</span>
    </button>
    <button id="btn595" class="buttonB">
      <span class="title">104</span>
    </button>
    <button id="btn596" class="buttonB">
      <span class="title">105</span>
    </button>
    <button id="btn597" class="buttonB">
      <span class="title">106</span>
    </button>
  </div>


</div>
  