
<br />
<div class="MHQ6floor" name="floorBody" draggable="true">
  <button id="btn6001" class="buttonB">
    <span class="title">1</span>
  </button>
  <button id="btn6002" class="buttonB">
    <span class="title">2</span>
  </button>
  <button id="btn6003" class="buttonB">
    <span class="title">3</span>
  </button>
  <button id="btn6004" class="buttonB">
    <span class="title">4</span>
  </button>
  <button id="btn6005" class="buttonB">
    <span class="title">5</span>
  </button>
  <button id="btn6006" class="buttonB">
    <span class="title">6</span>
  </button>
  <button id="btn6007" class="buttonA">
    <span class="title">7</span>
  </button>

  <button id="btn6009" class="buttonB">
    <span class="title">9</span>
  </button>
  <button id="btn6010" class="buttonB">
    <span class="title">10</span>
  </button>
  <button id="btn6011" class="buttonB">
    <span class="title">11</span>
  </button>
  <button id="btn6012" class="buttonB">
    <span class="title">12</span>
  </button>
  <button id="btn6013" class="buttonB">
    <span class="title">13</span>
  </button>
  <button id="btn6014" class="buttonB">
    <span class="title">14</span>
  </button>
  <button id="btn6015" class="buttonA">
    <span class="title">15</span>
  </button>

  <button id="btn6017" class="buttonB">
    <span class="title">17</span>
  </button>
  <button id="btn6018" class="buttonB">
    <span class="title">18</span>
  </button>
  <button id="btn6019" class="buttonB">
    <span class="title">19</span>
  </button>
  <button id="btn6020" class="buttonB">
    <span class="title">20</span>
  </button>
  <button id="btn6021" class="buttonB">
    <span class="title">21</span>
  </button>
  <button id="btn6022" class="buttonB">
    <span class="title">22</span>
  </button>
  <button id="btn6023" class="buttonB">
    <span class="title">23</span>
  </button>
  <button id="btn6024" class="buttonB">
    <span class="title">24</span>
  </button>
  <button id="btn6025" class="buttonA">
    <span class="title">25</span>
  </button>

  <button id="btn6027" class="buttonB">
    <span class="title">27</span>
  </button>
  <button id="btn6028" class="buttonB">
    <span class="title">28</span>
  </button>
  <button id="btn6029" class="buttonB">
    <span class="title">29</span>
  </button>
  <button id="btn6030" class="buttonB">
    <span class="title">30</span>
  </button>
  <button id="btn6031" class="buttonB">
    <span class="title">31</span>
  </button>
  <button id="btn6032" class="buttonB">
    <span class="title">32</span>
  </button>
  <button id="btn6033" class="buttonB">
    <span class="title">33</span>
  </button>
  <button id="btn6034" class="buttonB">
    <span class="title">34</span>
  </button>
  <button id="btn6035" class="buttonA">
    <span class="title">35</span>
  </button>

  <button id="btn6036" class="buttonB">
    <span class="title">36</span>
  </button>
  <button id="btn6037" class="buttonB">
    <span class="title">37</span>
  </button>
  <button id="btn6038" class="buttonB">
    <span class="title">38</span>
  </button>
  <button id="btn6039" class="buttonB">
    <span class="title">39</span>
  </button>
  <button id="btn6040" class="buttonB">
    <span class="title">40</span>
  </button>
  <button id="btn6041" class="buttonB">
    <span class="title">41</span>
  </button>
  <button id="btn6042" class="buttonB">
    <span class="title">42</span>
  </button>
  <button id="btn6045" class="buttonB">
    <span class="title">45</span>
  </button>
  <button id="btn6044" class="buttonA">
    <span class="title">44</span>
  </button>

  <button id="btn6046" class="buttonB">
    <span class="title">46</span>
  </button>
  <button id="btn6047" class="buttonB">
    <span class="title">47</span>
  </button>
  <button id="btn6048" class="buttonB">
    <span class="title">48</span>
  </button>
  <button id="btn6049" class="buttonB">
    <span class="title">49</span>
  </button>
  <button id="btn6050" class="buttonB">
    <span class="title">50</span>
  </button>
  <button id="btn6051" class="buttonB">
    <span class="title">51</span>
  </button>
  <button id="btn6052" class="buttonB">
    <span class="title">52</span>
  </button>
  <button id="btn6053" class="buttonB">
    <span class="title">53</span>
  </button>
  <button id="btn6054" class="buttonA">
    <span class="title">54</span>
  </button>

  <button id="btn6055" class="buttonB">
    <span class="title">55</span>
  </button>
  <button id="btn6056" class="buttonB">
    <span class="title">56</span>
  </button>
  <button id="btn6057" class="buttonB">
    <span class="title">57</span>
  </button>
  <button id="btn6058" class="buttonB">
    <span class="title">58</span>
  </button>
  <button id="btn6059" class="buttonB">
    <span class="title">59</span>
  </button>
  <button id="btn6060" class="buttonB">
    <span class="title">60</span>
  </button>
  <button id="btn6061" class="buttonB">
    <span class="title">61</span>
  </button>
  <button id="btn6062" class="buttonB">
    <span class="title">62</span>
  </button>
  <button id="btn6063" class="buttonA">
    <span class="title">63</span>
  </button>

  <button id="btn6065" class="buttonB">
    <span class="title">65</span>
  </button>
  <button id="btn6066" class="buttonB">
    <span class="title">66</span>
  </button>
  <button id="btn6067" class="buttonB">
    <span class="title">67</span>
  </button>
  <button id="btn6068" class="buttonB">
    <span class="title">68</span>
  </button>
  <button id="btn6069" class="buttonB">
    <span class="title">69</span>
  </button>
  <button id="btn6070" class="buttonB">
    <span class="title">70</span>
  </button>
  <button id="btn6071" class="buttonB">
    <span class="title">71</span>
  </button>
  <button id="btn6072" class="buttonB">
    <span class="title">72</span>
  </button>
  <button id="btn6073" class="buttonA">
    <span class="title">73</span>
  </button>

  <div id="MHQ6officeA" class="room">
    <span class="roomName"></span>
  </div>

  <div id="MHQ6officeB" class="room">
    <span class="roomName"></span>
  </div>

  <div id="MHQ6roomA" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ6storage" class="room">
    <span class="roomName"></span>
  </div>

  <div id="MHQ6roomB" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ6roomC" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ6roomD" class="room">
    <span class="roomName"></span>
  </div>

  <div class="MHQ6top">

    <button id="btn6184" class="buttonB">
      <span class="title">184</span>
    </button>
    <button id="btn6183" class="buttonB">
      <span class="title">183</span>
    </button>
    <button id="btn6181" class="buttonB">
      <span class="title">181</span>
    </button>
    <button id="btn6182" class="buttonB">
      <span class="title">182</span>
    </button>
    <button id="btn6186" class="buttonB">
      <span class="title">186</span>
    </button>
    <button id="btn6185" class="buttonB">
      <span class="title">185</span>
    </button>
    <button id="btn6187" class="buttonB">
      <span class="title">187</span>
    </button>
    <button id="btn6188" class="buttonB">
      <span class="title">188</span>
    </button>
    <button id="btn6189" class="buttonB">
      <span class="title">189</span>
    </button>

    <button id="btn6175" class="buttonB">
      <span class="title">175</span>
    </button>
    <button id="btn6173" class="buttonB">
      <span class="title">173</span>
    </button>
    <button id="btn6172" class="buttonB">
      <span class="title">172</span>
    </button>
    <button id="btn6174" class="buttonB">
      <span class="title">174</span>
    </button>
    <button id="btn6177" class="buttonB">
      <span class="title">177</span>
    </button>
    <button id="btn6178" class="buttonB">
      <span class="title">178</span>
    </button>
    <button id="btn6179" class="buttonB">
      <span class="title">179</span>
    </button>
    <button id="btn6176" class="buttonB">
      <span class="title">176</span>
    </button>
    <button id="btn6180" class="buttonB">
      <span class="title">180</span>
    </button>

    <button id="btn6168" class="buttonB">
      <span class="title">168</span>
    </button>
    <button id="btn6169" class="buttonB">
      <span class="title">169</span>
    </button>
    <button id="btn6166" class="buttonB">
      <span class="title">166</span>
    </button>
    <button id="btn6167" class="buttonB">
      <span class="title">167</span>
    </button>
    <button id="btn6164" class="buttonB">
      <span class="title">164</span>
    </button>
    <button id="btn6165" class="buttonB">
      <span class="title">165</span>
    </button>
    <button id="btn6162" class="buttonB">
      <span class="title">162</span>
    </button>
    <button id="btn6163" class="buttonB">
      <span class="title">163</span>
    </button>
    <button id="btn6171" class="buttonB">
      <span class="title">171</span>
    </button>

    <button id="btn6157" class="buttonB">
      <span class="title">157</span>
    </button>
    <button id="btn6155" class="buttonB">
      <span class="title">155</span>
    </button>
    <button id="btn6154" class="buttonB">
      <span class="title">154</span>
    </button>
    <button id="btn6156" class="buttonB">
      <span class="title">156</span>
    </button>
    <button id="btn6158" class="buttonB">
      <span class="title">158</span>
    </button>
    <button id="btn6159" class="buttonB">
      <span class="title">159</span>
    </button>
    <button id="btn6161" class="buttonB">
      <span class="title">161</span>
    </button>
    <button id="btn6160" class="buttonB">
      <span class="title">160</span>
    </button>
    <button id="btn6170" class="buttonB">
      <span class="title">170</span>
    </button>

  </div>

  <div id="MHQ6roomE" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ6roomF" class="room">
    <span class="roomName"></span>
  </div>

  <div id="MHQ6kitchen" class="room">
    <span class="roomName"></span>
  </div>

  <div class="MHQ6bottom">

    <button id="btn6076" class="buttonA">
      <span class="title">76</span>
    </button>
    <button id="btn6077" class="buttonA">
      <span class="title">77</span>
    </button>
    <button id="btn6078" class="buttonA">
      <span class="title">78</span>
    </button>
    <button id="btn6079" class="buttonA">
      <span class="title">79</span>
    </button>
    <button id="btn6080" class="buttonA">
      <span class="title">80</span>
    </button>
    <button id="btn6081" class="buttonA">
      <span class="title">81</span>
    </button>
    <button id="btn6082" class="buttonA">
      <span class="title">82</span>
    </button>
    <button id="btn6083" class="buttonA">
      <span class="title">83</span>
    </button>
    <button id="btn6084" class="buttonB">
      <span class="title">84</span>
    </button>

    <button id="btn6085" class="buttonA">
      <span class="title">85</span>
    </button>
    <button id="btn6086" class="buttonA">
      <span class="title">86</span>
    </button>
    <button id="btn6087" class="buttonA">
      <span class="title">87</span>
    </button>
    <button id="btn6088" class="buttonA">
      <span class="title">88</span>
    </button>
    <button id="btn6089" class="buttonA">
      <span class="title">89</span>
    </button>
    <button id="btn6090" class="buttonA">
      <span class="title">90</span>
    </button>
    <button id="btn6091" class="buttonA">
      <span class="title">91</span>
    </button>
    <button id="btn6092" class="buttonA">
      <span class="title">92</span>
    </button>
    <button id="btn6093" class="buttonB">
      <span class="title">93</span>
    </button>

    <button id="btn6095" class="buttonA">
      <span class="title">95</span>
    </button>
    <button id="btn6096" class="buttonA">
      <span class="title">96</span>
    </button>
    <button id="btn6097" class="buttonA">
      <span class="title">97</span>
    </button>
    <button id="btn6098" class="buttonA">
      <span class="title">98</span>
    </button>
    <button id="btn6099" class="buttonA">
      <span class="title">99</span>
    </button>
    <button id="btn6100" class="buttonA">
      <span class="title">100</span>
    </button>
    <button id="btn6101" class="buttonA">
      <span class="title">101</span>
    </button>
    <button id="btn6102" class="buttonA">
      <span class="title">102</span>
    </button>
    <button id="btn6103" class="buttonB">
      <span class="title">103</span>
    </button>

    <button id="btn6104" class="buttonA">
      <span class="title">104</span>
    </button>
    <button id="btn6105" class="buttonA">
      <span class="title">105</span>
    </button>
    <button id="btn6106" class="buttonA">
      <span class="title">106</span>
    </button>
    <button id="btn6107" class="buttonA">
      <span class="title">107</span>
    </button>
    <button id="btn6108" class="buttonA">
      <span class="title">108</span>
    </button>
    <button id="btn6109" class="buttonA">
      <span class="title">109</span>
    </button>
    <button id="btn6110" class="buttonA">
      <span class="title">110</span>
    </button>
    <button id="btn6111" class="buttonA">
      <span class="title">111</span>
    </button>
    <button id="btn6112" class="buttonB">
      <span class="title">112</span>
    </button>

    <button id="btn6117" class="buttonA">
      <span class="title">117</span>
    </button>
    <button id="btn6116" class="buttonA">
      <span class="title">116</span>
    </button>
    <button id="btn6114" class="buttonA">
      <span class="title">114</span>
    </button>
    <button id="btn6115" class="buttonA">
      <span class="title">115</span>
    </button>
    <button id="btn6120" class="buttonA">
      <span class="title">120</span>
    </button>
    <button id="btn6121" class="buttonA">
      <span class="title">121</span>
    </button>
    <button id="btn6118" class="buttonA">
      <span class="title">118</span>
    </button>
    <button id="btn6119" class="buttonA">
      <span class="title">119</span>
    </button>
    <button id="btn6122" class="buttonB">
      <span class="title">122</span>
    </button>

    <button id="btn6125" class="buttonA">
      <span class="title">125</span>
    </button>
    <button id="btn6124" class="buttonA">
      <span class="title">124</span>
    </button>
    <button id="btn6126" class="buttonA">
      <span class="title">126</span>
    </button>
    <button id="btn6132" class="buttonA">
      <span class="title">132</span>
    </button>
    <button id="btn6129" class="buttonA">
      <span class="title">129</span>
    </button>
    <button id="btn6130" class="buttonA">
      <span class="title">130</span>
    </button>
    <button id="btn6127" class="buttonA">
      <span class="title">127</span>
    </button>
    <button id="btn6128" class="buttonA">
      <span class="title">128</span>
    </button>
    <button id="btn6131" class="buttonB">
      <span class="title">131</span>
    </button>

    <button id="btn6135" class="buttonA">
      <span class="title">135</span>
    </button>
    <button id="btn6136" class="buttonA">
      <span class="title">136</span>
    </button>
    <button id="btn6133" class="buttonA">
      <span class="title">133</span>
    </button>
    <button id="btn6134" class="buttonA">
      <span class="title">134</span>
    </button>
    <button id="btn6140" class="buttonA">
      <span class="title">140</span>
    </button>
    <button id="btn6139" class="buttonA">
      <span class="title">139</span>
    </button>
    <button id="btn6138" class="buttonA">
      <span class="title">138</span>
    </button>
    <button id="btn6137" class="buttonA">
      <span class="title">137</span>
    </button>
    <button id="btn6141" class="buttonB">
      <span class="title">141</span>
    </button>

    <div id="MHQ6officeC" class="room">
      <span class="roomName"></span>
    </div>
  </div>

</div>
