<br />
<div class="MHQ1floor" name="floorBody" draggable="true">

  <div class="wall MHQ1wall01"></div>
  <div class="wall MHQ1wall02"></div>
  <div class="wall MHQ1wall03"></div>
  <div class="wall MHQ1wall04"></div>
  <div class="wall MHQ1wall05"></div>
  <div class="wall MHQ1wall06"></div>
  <div class="wall MHQ1wall07"></div>
  <div class="wall MHQ1wall08"></div>
  <div class="wall MHQ1wall09"></div>
  <div class="wall MHQ1wall10"></div>
  <div class="wall MHQ1wall11"></div>

  <div class="MHQ1Entrance">
    <span>Entrance</span>
    <span class="entranceDown">Entrance</span>
  </div>

  <div id="MHQ1roomCairo" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomManila" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomTelAviv" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomJohannesburg" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomAuckland" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1Kitchen" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomA" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomB" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomC" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomD" class="room">
    <span class="roomName"></span>
  </div>
  <div id="MHQ1roomE" class="room">
    <span class="roomName"></span>
    <button id="btn1301" class="buttonA">
      <span class="title">301</span>
    </button>
    <button id="btn1302" class="buttonA">
      <span class="title">302</span>
    </button>
    <button id="btn1303" class="buttonA">
      <span class="title">303</span>
    </button>
    <button id="btn1304" class="buttonA">
      <span class="title">304</span>
    </button>
  </div>

  <div id="MHQ1roomF" class="room">
    <span class="roomName"></span>
  </div>

  <div id="MHQ1roomG" class="room">
    <span class="roomName"></span>
  </div>


  <button id="btn1001" class="buttonA">
    <span class="title">1</span>
  </button>
  <button id="btn1002" class="buttonA">
    <span class="title">2</span>
  </button>
  <button id="btn1003" class="buttonA">
    <span class="title">3</span>
  </button>
  <button id="btn1004" class="buttonA">
    <span class="title">4</span>
  </button>
  <button id="btn1005" class="buttonA">
    <span class="title">5</span>
  </button>
  <button id="btn1006" class="buttonA">
    <span class="title">6</span>
  </button>

  <button id="btn1007" class="buttonB">
    <span class="title">7</span>
  </button>
  <button id="btn1008" class="buttonA">
    <span class="title">8</span>
  </button>
  <button id="btn1009" class="buttonA">
    <span class="title">9</span>
  </button>
  <button id="btn1010" class="buttonA">
    <span class="title">10</span>
  </button>
  <button id="btn1011" class="buttonA">
    <span class="title">11</span>
  </button>
  <button id="btn1012" class="buttonA">
    <span class="title">12</span>
  </button>
  <button id="btn1013" class="buttonA">
    <span class="title">13</span>
  </button>

  <button id="btn1014" class="buttonA">
    <span class="title">14</span>
  </button>
  <button id="btn1015" class="buttonA">
    <span class="title">15</span>
  </button>
  <button id="btn1016" class="buttonA">
    <span class="title">16</span>
  </button>
  <button id="btn1017" class="buttonB">
    <span class="title">17</span>
  </button>
  <button id="btn1018" class="buttonA">
    <span class="title">18</span>
  </button>
  <button id="btn1019" class="buttonA">
    <span class="title">19</span>
  </button>
  <button id="btn1020" class="buttonA">
    <span class="title">20</span>
  </button>

  <button id="btn1021" class="buttonA">
    <span class="title">21</span>
  </button>
  <button id="btn1022" class="buttonA">
    <span class="title">22</span>
  </button>
  <button id="btn1023" class="buttonA">
    <span class="title">23</span>
  </button>
  <button id="btn1024" class="buttonA">
    <span class="title">24</span>
  </button>
  <button id="btn1025" class="buttonA">
    <span class="title">25</span>
  </button>
  <button id="btn1026" class="buttonA">
    <span class="title">26</span>
  </button>
  <button id="btn1027" class="buttonA">
    <span class="title">27</span>
  </button>
  <button id="btn1028" class="buttonA">
    <span class="title">28</span>
  </button>
  <button id="btn1029" class="buttonA">
    <span class="title">29</span>
  </button>
  <button id="btn1030" class="buttonA">
    <span class="title">30</span>
  </button>

  <button id="btn1031" class="buttonA">
    <span class="title">31</span>
  </button>
  <button id="btn1032" class="buttonA">
    <span class="title">32</span>
  </button>
  <button id="btn1033" class="buttonA">
    <span class="title">33</span>
  </button>
  <button id="btn1034" class="buttonA">
    <span class="title">34</span>
  </button>
  <button id="btn1035" class="buttonA">
    <span class="title">35</span>
  </button>
  <button id="btn1036" class="buttonA">
    <span class="title">36</span>
  </button>
  <button id="btn1037" class="buttonA">
    <span class="title">37</span>
  </button>
  <button id="btn1038" class="buttonA">
    <span class="title">38</span>
  </button>
  <button id="btn1039" class="buttonA">
    <span class="title">39</span>
  </button>
  <button id="btn1040" class="buttonA">
    <span class="title">40</span>
  </button>

  <button id="btn1061" class="buttonA">
    <span class="title">61</span>
  </button>
  <button id="btn1062" class="buttonA">
    <span class="title">62</span>
  </button>
  <button id="btn1063" class="buttonA">
    <span class="title">63</span>
  </button>
  <button id="btn1064" class="buttonA">
    <span class="title">64</span>
  </button>
  <button id="btn1065" class="buttonA">
    <span class="title">65</span>
  </button>
  <button id="btn1066" class="buttonA">
    <span class="title">66</span>
  </button>
  <button id="btn1067" class="buttonA">
    <span class="title">67</span>
  </button>
  <button id="btn1068" class="buttonA">
    <span class="title">68</span>
  </button>
  <button id="btn1069" class="buttonA">
    <span class="title">69</span>
  </button>
  <button id="btn1070" class="buttonA">
    <span class="title">70</span>
  </button>

  <button id="btn1073" class="buttonA">
    <span class="title">73</span>
  </button>
  <button id="btn1074" class="buttonA">
    <span class="title">74</span>
  </button>
  <button id="btn1075" class="buttonA">
    <span class="title">75</span>
  </button>
  <button id="btn1076" class="buttonA">
    <span class="title">76</span>
  </button>
  <button id="btn1077" class="buttonA">
    <span class="title">77</span>
  </button>
  <button id="btn1078" class="buttonA">
    <span class="title">78</span>
  </button>

  <button id="btn1079" class="buttonA">
    <span class="title">79</span>
  </button>
  <button id="btn1080" class="buttonA">
    <span class="title">80</span>
  </button>
  <button id="btn1081" class="buttonA">
    <span class="title">81</span>
  </button>
  <button id="btn1082" class="buttonA">
    <span class="title">82</span>
  </button>
  <button id="btn1083" class="buttonA">
    <span class="title">83</span>
  </button>
  <button id="btn1084" class="buttonA">
    <span class="title">84</span>
  </button>

  <button id="btn1085" class="buttonA">
    <span class="title">85</span>
  </button>
  <button id="btn1086" class="buttonA">
    <span class="title">86</span>
  </button>
  <button id="btn1087" class="buttonA">
    <span class="title">87</span>
  </button>
  <button id="btn1088" class="buttonA">
    <span class="title">88</span>
  </button>
  <button id="btn1089" class="buttonA">
    <span class="title">89</span>
  </button>
  <button id="btn1090" class="buttonA">
    <span class="title">90</span>
  </button>

  <button id="btn1091" class="buttonA">
    <span class="title">91</span>
  </button>
  <button id="btn1092" class="buttonA">
    <span class="title">92</span>
  </button>
  <button id="btn1093" class="buttonA">
    <span class="title">93</span>
  </button>
  <button id="btn1094" class="buttonA">
    <span class="title">94</span>
  </button>
  <button id="btn1095" class="buttonA">
    <span class="title">95</span>
  </button>
  <button id="btn1096" class="buttonA">
    <span class="title">96</span>
  </button>


  <button id="btn1097" class="buttonB">
    <span class="title">97</span>
  </button>
  <button id="btn1098" class="buttonB">
    <span class="title">98</span>
  </button>
  <button id="btn1099" class="buttonB">
    <span class="title">99</span>
  </button>
  <button id="btn1100" class="buttonB">
    <span class="title">100</span>
  </button>
  <button id="btn1101" class="buttonB">
    <span class="title">101</span>
  </button>
  <button id="btn1102" class="buttonB">
    <span class="title">102</span>
  </button>
  <button id="btn1103" class="buttonB">
    <span class="title">103</span>
  </button>
  <button id="btn1104" class="buttonB">
    <span class="title">104</span>
  </button>

  <button id="btn1107" class="buttonB">
    <span class="title">107</span>
  </button>
  <button id="btn1108" class="buttonB">
    <span class="title">108</span>
  </button>
  <button id="btn1109" class="buttonB">
    <span class="title">109</span>
  </button>
  <button id="btn1110" class="buttonB">
    <span class="title">110</span>
  </button>
  <button id="btn1111" class="buttonB">
    <span class="title">111</span>
  </button>
  <button id="btn1112" class="buttonB">
    <span class="title">112</span>
  </button>
  <button id="btn1113" class="buttonB">
    <span class="title">113</span>
  </button>
  <button id="btn1114" class="buttonB">
    <span class="title">114</span>
  </button>
  <button id="btn1115" class="buttonB">
    <span class="title">115</span>
  </button>
  <button id="btn1116" class="buttonB">
    <span class="title">116</span>
  </button>
  <button id="btn1117" class="buttonB">
    <span class="title">117</span>
  </button>

  <button id="btn1048" class="buttonB">
    <span class="title">48</span>
  </button>
  <button id="btn1119" class="buttonB">
    <span class="title">119</span>
  </button>
  <button id="btn1120" class="buttonB">
    <span class="title">120</span>
  </button>
  <button id="btn1121" class="buttonB">
    <span class="title">121</span>
  </button>
  <button id="btn1122" class="buttonB">
    <span class="title">122</span>
  </button>
  <button id="btn1123" class="buttonB">
    <span class="title">123</span>
  </button>
  <button id="btn1124" class="buttonB">
    <span class="title">124</span>
  </button>
  <button id="btn1125" class="buttonB">
    <span class="title">125</span>
  </button>
  <button id="btn1126" class="buttonB">
    <span class="title">126</span>
  </button>
  <button id="btn1127" class="buttonB">
    <span class="title">127</span>
  </button>
  <button id="btn1128" class="buttonB">
    <span class="title">128</span>
  </button>

  <button id="btn1135" class="buttonB">
    <span class="title">135</span>
  </button>
  <button id="btn1136" class="buttonB">
    <span class="title">136</span>
  </button>
  <button id="btn1137" class="buttonB">
    <span class="title">137</span>
  </button>
  <button id="btn1138" class="buttonB">
    <span class="title">138</span>
  </button>
  <button id="btn1139" class="buttonB">
    <span class="title">139</span>
  </button>
  <button id="btn1140" class="buttonB">
    <span class="title">140</span>
  </button>
  <button id="btn1141" class="buttonB">
    <span class="title">141</span>
  </button>
  <button id="btn1142" class="buttonB">
    <span class="title">142</span>
  </button>
  <button id="btn1143" class="buttonB">
    <span class="title">143</span>
  </button>
  <button id="btn1144" class="buttonB">
    <span class="title">144</span>
  </button>

  <button id="btn1147" class="buttonB">
    <span class="title">147</span>
  </button>
  <button id="btn1148" class="buttonB">
    <span class="title">148</span>
  </button>
  <button id="btn1149" class="buttonB">
    <span class="title">149</span>
  </button>
  <button id="btn1150" class="buttonB">
    <span class="title">150</span>
  </button>
  <button id="btn1151" class="buttonB">
    <span class="title">151</span>
  </button>
  <button id="btn1152" class="buttonB">
    <span class="title">152</span>
  </button>
  <button id="btn1153" class="buttonB">
    <span class="title">153</span>
  </button>
  <button id="btn1154" class="buttonB">
    <span class="title">154</span>
  </button>
  <button id="btn1155" class="buttonB">
    <span class="title">155</span>
  </button>
  <button id="btn1156" class="buttonB">
    <span class="title">156</span>
  </button>

  <button id="btn1157" class="buttonB">
    <span class="title">157</span>
  </button>
  <button id="btn1158" class="buttonB">
    <span class="title">158</span>
  </button>
  <button id="btn1159" class="buttonB">
    <span class="title">159</span>
  </button>
  <button id="btn1160" class="buttonB">
    <span class="title">160</span>
  </button>
  <button id="btn1161" class="buttonB">
    <span class="title">161</span>
  </button>
  <button id="btn1162" class="buttonB">
    <span class="title">162</span>
  </button>
  <button id="btn1163" class="buttonB">
    <span class="title">163</span>
  </button>
  <button id="btn1164" class="buttonB">
    <span class="title">164</span>
  </button>
  <button id="btn1165" class="buttonB">
    <span class="title">165</span>
  </button>
  <button id="btn1166" class="buttonB">
    <span class="title">166</span>
  </button>

  <button id="btn1167" class="buttonB">
    <span class="title">167</span>
  </button>
  <button id="btn1168" class="buttonB">
    <span class="title">168</span>
  </button>
  <button id="btn1169" class="buttonB">
    <span class="title">169</span>
  </button>
  <button id="btn1170" class="buttonB">
    <span class="title">170</span>
  </button>
  <button id="btn1171" class="buttonB">
    <span class="title">171</span>
  </button>
  <button id="btn1172" class="buttonB">
    <span class="title">172</span>
  </button>
  <button id="btn1173" class="buttonB">
    <span class="title">173</span>
  </button>
  <button id="btn1174" class="buttonB">
    <span class="title">174</span>
  </button>
  <button id="btn1175" class="buttonB">
    <span class="title">175</span>
  </button>
  <button id="btn1176" class="buttonB">
    <span class="title">176</span>
  </button>

  <button id="btn1177" class="buttonB">
    <span class="title">177</span>
  </button>
  <button id="btn1178" class="buttonB">
    <span class="title">178</span>
  </button>
  <button id="btn1179" class="buttonB">
    <span class="title">179</span>
  </button>
  <button id="btn1180" class="buttonB">
    <span class="title">180</span>
  </button>
  <button id="btn1181" class="buttonB">
    <span class="title">181</span>
  </button>
  <button id="btn1182" class="buttonB">
    <span class="title">182</span>
  </button>
  <button id="btn1183" class="buttonB">
    <span class="title">183</span>
  </button>
  <button id="btn1184" class="buttonB">
    <span class="title">184</span>
  </button>
  <button id="btn1185" class="buttonB">
    <span class="title">185</span>
  </button>
  <button id="btn1186" class="buttonB">
    <span class="title">186</span>
  </button>

  <button id="btn1189" class="buttonB">
    <span class="title">189</span>
  </button>
  <button id="btn1190" class="buttonB">
    <span class="title">190</span>
  </button>
  <button id="btn1191" class="buttonB">
    <span class="title">191</span>
  </button>
  <button id="btn1192" class="buttonB">
    <span class="title">192</span>
  </button>
  <button id="btn1193" class="buttonB">
    <span class="title">193</span>
  </button>
  <button id="btn1194" class="buttonB">
    <span class="title">194</span>
  </button>
  <button id="btn1195" class="buttonB">
    <span class="title">195</span>
  </button>
  <button id="btn1196" class="buttonB">
    <span class="title">196</span>
  </button>
  <button id="btn1197" class="buttonB">
    <span class="title">197</span>
  </button>
  <button id="btn1198" class="buttonB">
    <span class="title">198</span>
  </button>

  <button id="btn1208" class="buttonA">
    <span class="title">208</span>
  </button>
  <button id="btn1209" class="buttonA">
    <span class="title">209</span>
  </button>
  <button id="btn1210" class="buttonA">
    <span class="title">210</span>
  </button>
  <button id="btn1211" class="buttonA">
    <span class="title">211</span>
  </button>
  <button id="btn1212" class="buttonA">
    <span class="title">212</span>
  </button>
  <button id="btn1213" class="buttonA">
    <span class="title">213</span>
  </button>
  <button id="btn1214" class="buttonA">
    <span class="title">214</span>
  </button>
  <button id="btn1215" class="buttonA">
    <span class="title">215</span>
  </button>
  <button id="btn1216" class="buttonA">
    <span class="title">216</span>
  </button>
  <button id="btn1217" class="buttonA">
    <span class="title">217</span>
  </button>

  <button id="btn1220" class="buttonA">
    <span class="title">220</span>
  </button>
  <button id="btn1221" class="buttonA">
    <span class="title">221</span>
  </button>
  <button id="btn1222" class="buttonA">
    <span class="title">222</span>
  </button>
  <button id="btn1223" class="buttonA">
    <span class="title">223</span>
  </button>
  <button id="btn1224" class="buttonA">
    <span class="title">224</span>
  </button>
  <button id="btn1225" class="buttonA">
    <span class="title">225</span>
  </button>
  <button id="btn1226" class="buttonA">
    <span class="title">226</span>
  </button>
  <button id="btn1227" class="buttonA">
    <span class="title">227</span>
  </button>
  <button id="btn1228" class="buttonA">
    <span class="title">228</span>
  </button>
  <button id="btn1229" class="buttonA">
    <span class="title">229</span>
  </button>

  <button id="btn1230" class="buttonA">
    <span class="title">230</span>
  </button>
  <button id="btn1231" class="buttonA">
    <span class="title">231</span>
  </button>
  <button id="btn1232" class="buttonA">
    <span class="title">232</span>
  </button>
  <button id="btn1233" class="buttonA">
    <span class="title">233</span>
  </button>
  <button id="btn1234" class="buttonA">
    <span class="title">234</span>
  </button>
  <button id="btn1235" class="buttonA">
    <span class="title">235</span>
  </button>
  <button id="btn1236" class="buttonA">
    <span class="title">236</span>
  </button>
  <button id="btn1237" class="buttonA">
    <span class="title">237</span>
  </button>
  <button id="btn1238" class="buttonA">
    <span class="title">238</span>
  </button>
  <button id="btn1239" class="buttonA">
    <span class="title">239</span>
  </button>

  <button id="btn1240" class="buttonA">
    <span class="title">240</span>
  </button>
  <button id="btn1241" class="buttonA">
    <span class="title">241</span>
  </button>
  <button id="btn1242" class="buttonA">
    <span class="title">242</span>
  </button>
  <button id="btn1243" class="buttonA">
    <span class="title">243</span>
  </button>
  <button id="btn1244" class="buttonA">
    <span class="title">244</span>
  </button>
  <button id="btn1245" class="buttonA">
    <span class="title">245</span>
  </button>
  <button id="btn1246" class="buttonA">
    <span class="title">246</span>
  </button>
  <button id="btn1247" class="buttonA">
    <span class="title">247</span>
  </button>
  <button id="btn1248" class="buttonA">
    <span class="title">248</span>
  </button>
  <button id="btn1249" class="buttonA">
    <span class="title">249</span>
  </button>

  <button id="btn1260" class="buttonB">
    <span class="title">260</span>
  </button>
  <button id="btn1261" class="buttonB">
    <span class="title">261</span>
  </button>
  <button id="btn1262" class="buttonB">
    <span class="title">262</span>
  </button>
  <button id="btn1263" class="buttonB">
    <span class="title">263</span>
  </button>
  <button id="btn1264" class="buttonB">
    <span class="title">264</span>
  </button>
  <button id="btn1265" class="buttonB">
    <span class="title">265</span>
  </button>
  <button id="btn1266" class="buttonB">
    <span class="title">266</span>
  </button>
  <button id="btn1267" class="buttonB">
    <span class="title">267</span>
  </button>

</div>
