<style type="text/css">
    .nopadding {
        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin: 20px;
    }
</style>

<div class="box-content nopadding">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>All</b></span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 250px;">All total places</label>
                    <div class="controls">
                        <span id="allPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="all" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 250px;">All total open area places</label>
                    <div class="controls">
                        <span id="openAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="openArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 250px;">All total offices places</label>
                    <div class="controls">
                        <span id="roomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="rooms" value="0" max="100"></progress>
                        <!-- <div class="progress">
                            <div class="progress-bar" style="width:40%">40%</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="box-content nopadding etcBuildingGroundFloor">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>ETC Ground Floor</b></span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="etcGFallPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcGFall" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="etcGFopenAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcGFopenArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="etcGFroomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcGFrooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-content nopadding etcBuildingC">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>ETC Building C</b></span>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="etcCallPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcCall" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="etcCopenAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcCopenArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="etcCroomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcCrooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-content nopadding etcBuildingD">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>ETC Building D</b></span>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="etcDallPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcDall" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="etcDopenAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcDopenArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="etcDroomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="etcDrooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-content nopadding mhqFloor1">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>MHQ Floor 1</b></span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="mhq1allPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq1all" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="mhq1openAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq1openArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="mhq1roomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq1rooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-content nopadding mhqFloor2">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>MHQ Floor 2</b></span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="mhq2allPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq2all" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="mhq2openAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq2openArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="mhq2roomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq2rooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="box-content nopadding mhqFloor6">
    <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
        <div class="row-fluid">
            <span class="centered-text"><b>MHQ Floor 6</b></span>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Total places</label>
                    <div class="controls">
                        <span id="mhq6allPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq6all" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Open area places</label>
                    <div class="controls">
                        <span id="mhq6openAreaPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq6openArea" value="0" max="100"></progress>
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label" style="width: 150px;">Offices places</label>
                    <div class="controls">
                        <span id="mhq6roomPlaces" class="centered-text-percent">0 / 0</span>
                        <progress id="mhq6rooms" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>