<div class="row">
    <details class="col-lg-6 timeline" open>
        <summary>TIMELINE</summary>

        <dl>
            <dt>1999</dt>
            <dd>Requires a computer running an operating system.
            </dd>
            <dt>2001</dt>
            <dd>The computer
                must have some memory and ideally some kind of long-term storage.
                An input device as well as some form of output device is
                recommended
            </dd>
            <dt>2002</dt>
            <dd>The computer
                must have some memory and ideally some kind of long-term storage.
            </dd>
            <dd>An input device as well as some form of output device is
                recommended.
            </dd>
        </dl>
    </details>
    <details class="col-lg-6 agenda timeline" open>
        <summary>PROGRAMME</summary>

        <dl>
            <dt>9.00 </dt>
            <dd>Breakfast and welcome to the showroom</dd>
            <dt>10.30 </dt>
            <dd>Vendor introduction</dd>
            <dt>11.30 </dt>
            <dd>Return to the showroom</dd>
            <dt>12.00 </dt>
            <dd>Gourmet lunch and cocktail </dd>
        </dl>
    </details>
</div>
<style>
    /* Timeline details */
    details {
        font-size: 80%;
    }

    summary:focus {
        outline: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary:before {
        padding-right: .5em;
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #2f75bb;
        transition: .3s all ease-in-out;
    }

    details[open] summary:before {
        content: '\f107';
    }

    details.agenda summary:before,
    details.agenda[open] summary:before {
        content: '\f017';
    }

    details:not(.timeline)[open] summary {
        border-bottom: 1px solid #dee2e6;
    }

    dl,
    details>p {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        position: relative;
        padding: .75rem 1.25rem 0 1rem;
        margin-bottom: .75rem;
    }

    details>p+p {
        padding-top: 0;
    }

    dt,
    dd {
        flex: 0 0 50%;
    }

    dd+dd {
        margin-left: 50%;
    }

    summary,
    dt {
        font-weight: 600;
        letter-spacing: .4px;
        font-size: 90%;
        text-transform: uppercase;
        margin-right: 1rem;
        flex-basis: calc(50% - 1rem);
        position: relative;
    }

    dt>p {
        font-weight: 400;
        font-size: .9rem;
        letter-spacing: 0px;
        text-transform: none;
    }

    details.timeline {
        overflow: hidden;
        font-size: 1rem;
    }

    details.timeline:not(.info) summary:before {
        padding-left: 2px;
    }

    details.timeline dt {
        flex: 0 0 25%;
    }

    details.timeline dd {
        flex: 0 0 75%;
    }

    details.timeline dd+dd {
        margin-left: 25%;
    }

    details.timeline dl {

        margin-left: -1rem;
    }

    details.timeline p {
        padding-left: 2.2rem;
    }

    details.timeline dt {
        padding-left: 2rem;
        flex-basis: calc(25% - 3rem);
    }

    details.timeline dt:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 10rem;
        background: #dee2e6;
        left: 0.4rem;
        top: 8px;
    }

    details.timeline dt:first-of-type:before {
        top: -.9rem;
    }

    details.timeline dt:after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1px;
        background: #dee2e6;
        left: 0.4rem;
        top: 11px;
    }

    summary::marker {
        font-size: 0;
    }
</style>