<div class="align-items-center w-100 align-items-md-baseline align-self-baseline d-flex flex-column h-100 justify-content-lg-center mx-md-3 mx-xl-5 w-100 mb-auto mb-lg-5 mt-5">
    <div class="col-lg-6 wow slideInUp" data-wow-delay="600ms" style="max-width: 94ch;">
    <h1 class="no-border display-4 font-weight-bold">HERZLICH WILLKOMMEN IN DER AZURE UNIVERSITY</h1>
    
    <p class="display-7 font-ligatures">Hier finden hier alle Informationen rund um unsere Services und wie wir Sie mit diesen unterstützen können, Ihre Kunden Cloud-ready zu machen.</p>
    
    <p class="display-7 font-ligatures font-weight-bolder">Ingram Micro empfiehlt Microsoft&reg; Software.</p>
    
    <p class="d-flex wow slideInUp"><img alt="" class="mt-4" src="/getattachment/ONE-IM-B4/Microsites/Azure-University/IM-Dvsn-Logo_Cloud_Stack_Wht.png.aspx?lang=de-DE&amp;width=118&amp;height=50" style="height:50px;" /><img alt="" class="ml-5" src="/getattachment/ONE-IM-B4/Microsites/Azure-University/Microsoft_Gold-1.png.aspx" /></p>
    </div>
    </div>
    