

    <!-- Form script starts here -->
    <link rel="stylesheet" href="https://now.ingrammicro.com/rs/340-MXL-245/images/Custom_Form_Styles.css"/>
    <script src="https://now.ingrammicro.com/rs/340-MXL-245/images/Custom_Form_Scripts.js"></script>

    <script src="//now.ingrammicro.com/js/forms2/js/forms2.min.js"></script>
    <div id="mktoForm_4612"></div>
    <script>

    MktoForms2.loadForm("//now.ingrammicro.com", "340-MXL-245", 4612, function(form){
        // function to add to Kentico
        MktoForms2.$("#mktoForm_4612").append(form.getFormElem());
        // Function to capture hidden fields
        HiddenfieldsCapture("mktoForm_4612");
       
        // Concatinate fields in program fields on submit
        form.onSubmit(function(){
        var values = form.vals();
            concatenateFields(values,"mktoForm_4612");
        });
    });
    // Function to display thank you message
            MktoForms2.whenReady(function (form){
                    form.onSuccess(function(vals, page){
                        if(vals.formid == "4612"){
                            form.getFormElem().hide();
                            let confirmationDiv = document.createElement("div");
                            confirmationDiv.innerHTML = `<aside id="confirmation" aria-hidden="false">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="thk-pg-content">
                                                                            <h1>Thank you for contacting us. </h1>
                                                                            <p>An Ingram Micro representative will reach out to you as soon as possible.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </aside>`
                            
                            document.getElementById("mktoForm_4612").insertAdjacentElement("afterend", confirmationDiv );
                            return false;
                        }
                        
                    });
                });
    </script>
    <!-- Form script ends here -->