.button {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
}

.icon-check-2 {
  color: green;
}

.icon-remove-2 {
  color: red;
}

.icon-cursor-move-up-down-1 {
  cursor: move !important;
  text-align: center;
}

.menuActive {
  background-color: #aaa !important;
}

.menuItem {
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.menuItem:hover {
  background-color: #ccc;
}

body.dt-rowReorder-noOverflow {
  overflow-x: hidden;
}

input {
  border: 1px solid #999;
  min-width: 35px;
  width: 100%;
}

input[readonly="readonly"] {
  cursor: default;
  background-color: #eee;
}

input[type="number"] {
  text-align: right;
}

table.dt-rowReorder-float {
  opacity: 0.8;
  outline-offset: -2px;
  outline: 2px solid #999;
  position: absolute !important;
  table-layout: fixed;
  z-index: 2001;
}

textarea {
  height: 100px;
  width: 100%;
}

tr.dt-rowReorder-moving {
  outline: 2px solid #999;
  outline-offset: -2px;
}

/*.dataTables_length {
  display: none;
}*/


#DTMatrix {
  overflow: hidden;
}

  #DTMatrix tr {
    background-color: transparent;
  }

  #DTMatrix tr:hover {
    background-color: #eee;
  }

  #DTMatrix td {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    cursor: pointer;
    position: relative;
  }

#DTMatrix td.checked {
  background-color: #666 !important;
}

#DTMatrix td:hover::after {
  background-color: #eee;
  content: "";
  height: 10000px;
  left: 0px;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
  }

#DTMatrix_wrapper .dataTables_scrollHead table tr {
  height: 150px;
}

#DTMatrix_wrapper table {
  border-collapse: collapse;
}

#DTMatrix_wrapper .dataTables_scrollHead table td, #DTMatrix_wrapper .dataTables_scrollHead table th {
  border-right: 1px solid #999;
}

#DTMatrix_wrapper .DTFC_LeftHeadWrapper, #DTMatrix_wrapper .DTFC_LeftBodyWrapper {
  border-right: 1px solid #111;
}

#DTMatrix_wrapper .DTFC_LeftBodyLiner table td {
  border-bottom: 1px solid #999;
  cursor: pointer;
}

#DTMatrix_wrapper .dataTables_scrollHeadInner table td {
  cursor: pointer;
}

#DTMatrix_wrapper table td:first-child {
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}

#DTMatrix_wrapper table td:not(:first-child), #DTMatrix_wrapper table th:not(:first-child) {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}

#DTMatrix_wrapper table .rotate div {
  height: 50px;
  left: -50px;
  position: relative;
  transform: rotate(-90deg);
  width: 145px;
}

.button[type="copy"] {
  display: none;
}

#DTExclusion .icon-cursor-move-up-down-1, #DTInclusion .icon-cursor-move-up-down-1 {
  display: none;
}

{% if (CurrentDocument.Matrix) { %}
#DTBasemodel .button[type="copy"] {
  display: inline;
}
{% } %}