.opg-header {
  border-bottom: 1px solid #2f75bb;
}

/* #region HP ACE Rules */
#need-help, #need-help-info {
  display: none !important;
}

.cstics .cstic .error {
  display: none;
}

.reconfigure {
  display: none;
}
/* #endregion */