:root {
    --bs-primary: #0077d4 !important;
    --bs-secondary: #fff !important;
    --bs-border-radius: 6px !important;
    --bs-bg-opacity: .5 !important;
    --bs-body-color: #333 !important;
}

html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
    color-scheme: light;
    accent-color: var(--bs-primary);
}

body {
    margin: 0px;
    color: var(--bs-body-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto";
    background-color: #fff;
}

main {
    margin: auto;
    max-width: 1920px;
    min-height: calc(100vh - 52px);
    padding: 1.5rem;
    width: 100%;
    overflow-x: hidden;

    &:has(header.d-flex) {
        padding-top: 0 !important;
    }

    &:has(footer.d-block) {
        padding-bottom: 0 !important;
    }
}

footer {
    color: var(--bs-body-color);
    text-align: center;
    font-size: min(0.75rem, 14px);
    font-size: clamp(0.75rem, 1vw, 14px);
    align-items: center;
    flex-direction: column;

    p {
        margin: 0;
    }
}

header img {
    max-height: 80px;
}


@layer utilities {

    .btn {
        transition: all .2s ease-in-out;
        align-items: center;
        border-radius: var(--bs-border-radius);
        display: inline-block;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 8px 16px;
        text-align: center;
        text-transform: uppercase;
        user-select: none;
        vertical-align: middle;


        &.btn-primary {


            background-color: var(--bs-primary) !important;
            color: #fff !important;

            &:hover {
                background-color: #0164b0 !important
            }

            &:focus {
                outline: 2px solid var(--bs-primary);
                outline-offset: 2px;
                text-decoration: none
            }
        }

        &.btn-secondary {
            background-color: #fff !important;
            border: 1px solid;
            color: var(--bs-primary) !important;

            &:hover {
                background-color: #f3faff !important
            }

            &:focus {
                outline: 2px solid var(--bs-primary);
                outline-offset: 2px
            }
        }
    }



    .text-shadow {
        text-shadow: 2px 2px 4px #00000099;
    }

    .lift {
        transition: box-shadow .25s ease, transform .25s ease;

        &:focus,
        &:hover {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
            transform: translate3d(0, -3px, 0)
        }
    }
}

@layer hero {

    .carousel.slide {
        max-height: 400px;
        overflow: hidden;
        border-radius: var(--bs-border-radius);

        .carousel-inner {
            border-radius: var(--bs-border-radius);
            height: 400px;

            .carousel-item {
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 400px !important;
                min-height: 400px !important;
                padding: 0;
                position: relative;

                img,
                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    object-fit: cover;
                    object-position: center;
                }

                .carousel-content {
                    position: absolute !important;
                    top: 50% !important;
                    left: 70px !important;
                    right: 70px !important;
                    transform: translateY(-50%) !important;
                    z-index: 10 !important;
                    margin: 0 !important;

                    /* Ensure content doesn't overflow */
                    max-width: calc(100% - 70px);

                    h1,
                    h2 {
                        font-family: "Roboto";
                        font-style: normal;
                        padding: 10px;
                        background-color: rgba(255, 255, 255, 0.6);
                        width: fit-content;
                        color: var(--bs-body-color);
                        margin-bottom: 32px;
                    }

                    &.no-background h1,
                    &.no-background h2 {
                        background-color: transparent;
                        padding: 0;
                        color: #fff;
                        text-shadow: 2px 2px 4px #00000099;
                    }

                    &.no-background .btn-secondary {
                        background: rgba(255, 255, 255, 0.9) !important;
                        color: var(--bs-body-color) !important;
                    }

                    h1 {
                        font-weight: 300;
                        font-size: 64px;
                        line-height: 75px;
                    }

                    h2 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }

                    .btn-secondary {
                        background: rgba(255, 255, 255, 0.6) !important;
                        color: var(--bs-body-color) !important;

                        &:hover {
                            background: #efefef !important;
                        }
                    }
                }
            }
        }

        .carousel-control {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            margin-left: 16px;
            margin-right: 16px;
            gap: 10px;
            width: 44px !important;
            height: 44px !important;
            background: #fff;
            border: 1px solid #c4c4c4;
            border-radius: 40px;
            color: #000;
            flex: none;
            order: 0;
            flex-grow: 0;
            height: 15%;
            margin-top: 10em;
            opacity: var(--bs-bg-opacity);
            box-shadow: 4px 4px 20px 1px #00000033, -4px -4px 20px 1px #00000033;
            z-index: 15;

            .fa {
                color: #000 !important;
            }
        }

        .hero-carousel-control {
            margin-top: unset !important;
            position: absolute !important;
            top: 45% !important;
            left: auto;
        }

        .carousel-control:hover {
            text-decoration: none;
            outline: 0;
            opacity: .9 !important;
        }

        .carousel-control:active {
            outline: 2px solid #fff;
            outline-offset: 3px;
        }

        .carousel-control:focus {
            opacity: var(--bs-bg-opacity);
        }


        /* Hide controls if there is NOT more than 1 carousel-item */
        .carousel:not(:has(.carousel-item:nth-child(2))) .carousel-control,
        .carousel:not(:has(.carousel-item:nth-child(2))) .carousel-indicators {
            display: none !important;
        }
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        #hero {
            max-height: 300px;

            .carousel-inner,
            .carousel-item {
                height: 300px !important;
                min-height: 300px !important;
            }
        }

        .carousel-content {
            left: 20px !important;
            right: 20px !important;
            max-width: calc(100% - 40px);

            h1 {
                font-size: 48px;
                line-height: 56px;
            }

            h2 {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    @media (max-width: 480px) {
        .carousel-content {
            left: 15px !important;
            right: 15px !important;
            max-width: calc(100% - 30px);

            h1 {
                font-size: 36px;
                line-height: 42px;
            }
        }
    }
}

@layer section-rows {
    section {

        h2,
        h3,
        h4,
        h5,
        p,
        .Kentico-redesign-title-h1,
        .Kentico-redesign-description {
            font-family: "Roboto";
            line-height: 24px;
            color: var(--bs-body-color);
        }

        h2,
        h3,
        h4,
        h5,
        .Kentico-redesign-title-h1 {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: .5rem;
            line-height: 32px;
        }

        p,
        .Kentico-redesign-description {
            font-weight: 400;
            font-size: 16px;
        }

        .row .row {
            padding: 32px;

            &>* {
                padding-right: 16px !important;
                padding-left: 16px !important;
            }

            img {
                border-radius: var(--bs-border-radius);
                max-width: 100%;
                height: auto;
            }

            h2+p,
            h3+p,
            h4+p {
                padding-top: 24px;
            }

            .btn {
                margin-top: 40px;
            }
        }

        .row .container-fluid {
            padding: 32px;

        }

        .video-container {
            border-radius: var(--bs-border-radius);

            iframe {
                width: 100%;
                height: auto;
                aspect-ratio: 1.7;
                border-radius: var(--bs-border-radius);
            }
        }
    }
}

@layer deco-banner {
    section .container-fluid {
        .img-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .overlay {
            background-color: var(--bs-body-color);
            opacity: var(--bs-bg-opacity);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            transform: translateX(-50%) translateY(-50%);
            object-fit: cover;
            height: 100%;
            object-position: center;
        }

        .content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .Kentico-redesign-description img {
        border-radius: var(--bs-border-radius);
    }
}

@layer tabs-accordion {

    .nav-tabs {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        overflow-x: scroll;
        border-bottom: 1px solid;
        margin: 0 0 32px;
        scrollbar-width: none;

        .nav-link,
        .nav-link.active {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            border: none !important;
        }

        .nav-link.active {
            color: #0a58ca !important;
        }

        .nav-link:focus,
        .nav-link:hover {
            color: #0a58ca;
        }
    }


    .accordion-item {
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #c4c4c4 !important;
        border-radius: 6px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .accordion-header {
            margin-bottom: 0;
            font-size: 2rem;
        }

        .accordion-button {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: var(--bs-body-color);
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0;
            border-radius: var(--bs-border-radius);
            background-color: inherit !important;
            color: inherit !important;
            box-shadow: none !important;

            &:focus {
                box-shadow: none !important;
            }

            &:not(.collapsed) {
                color: var(--bs-body-color) !important;
            }

            /* Arrow icon color blue */

            &:not(.collapsed)::after {
                background-image: var(--bs-accordion-btn-active-icon);
                filter: invert(32%) sepia(95%) saturate(7494%) hue-rotate(211deg) brightness(97%) contrast(107%);
            }
        }

        .accordion-body {
            padding: 32px;
        }
    }

    .accordion-body,
    .tab-content {

        h2+p,
        h3+p,
        h4+p {
            padding-top: 24px;
        }

        .btn {
            margin-top: 40px;
        }
    }
}

@layer cards {

    .card {
        height: 100%;
        margin: 15px;
        border-radius: var(--bs-border-radius);
        overflow: hidden;

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }

        .card-body {
            padding: 32px;
            text-align: start;

            h2,
            h3,
            h4,
            h5 {
                line-height: 28px !important;
            }

            h2+p,
            h3+p,
            h4+p,
            h5+p {
                padding-top: 24px;
            }
        }

        footer p {
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 400;
            height: 16px;
            line-height: 16px;
            margin: unset;
        }

        .stretched-link::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: rgba(0, 0, 0, 0);
        }

        a {
            text-decoration: none;
        }
    }


    .owl-carousel {
        .owl-stage {
            display: flex;
        }

        .owl-item {
            display: flex;
        }

        .item {
            display: flex;
            height: 100%;
        }

        .item {
            display: flex;
            justify-content: center;
        }

        .owl-stage-outer {
            padding-bottom: 32px;
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 44px;
            height: 44px;
            border-radius: 50% !important;
            background: #fff !important;
            color: #c4c4c4 !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 14px !important;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            margin: 0;
        }

        .owl-prev:hover,
        .owl-next:hover {
            background: #c4c4c4 !important;
            color: #fff !important;
        }

        .owl-prev {
            left: -14px;
        }

        .owl-next {
            right: -14px;
        }

        .owl-dots .owl-dot span {
            background-color: var(--bs-body-color);
        }

        .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: #6b6b6b;
            display: block;
            backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
        }

        .owl-dots .owl-dot.active span {
            width: 24px;
            background: var(--bs-primary);
            border-radius: 30px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

    }
}

@layer marketoForms {

    /* Marketo Form Styles */
    formz {

        .mktoOffset,
        .mktoGutter,
        .mktoAsterix {
            display: none !important;
        }

        .mktoFieldWrap:has([type="text"], [type="email"], [type="tel"], [type="url"], [type="number"], textarea, select) {
            position: relative;
            border: 1px solid #6B6B6B;
            border-radius: var(--bs-border-radius);
            margin-block: 42px;
        }

        .mktoFieldWrap:has([type="checkbox"], [type="radio"]) input {
            width: 86px !important;
            height: 18px !important;
        }

        .mktoFieldWrap:has(.mktoValid) {
            border: 1px solid #28a745 !important;
        }

        .mktoFieldWrap:has(.mktoInvalid) {
            border: 1px solid #d9534f !important;
        }

        .mktoField {
            border: none !important;
            box-shadow: none !important;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 18px 16px;
            width: 100% !important;
            box-sizing: border-box;
            background-color: transparent !important;

            &:focus {
                outline: 2px solid var(--bs-primary);
                outline-offset: 2px;
                box-shadow: none !important;
            }

        }

        select:focus {
            outline: none !important;
            outline-offset: 2px;
            box-shadow: none !important;
        }

        .mktoInstruction {
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: #6B6B6B;
            padding: 0 16px 12px;
            display: block;
            position: absolute;
            bottom: -20px;
        }

        .mktoError {
            border: 1px solid #d9534f !important;
        }

        .mktoError .mktoInstruction {
            color: #d9534f !important;
        }

        .mktoButton {
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            padding: 8px 16px;
            text-transform: uppercase;
            border-radius: var(--bs-border-radius);
            border: none;
            background-color: var(--bs-primary) !important;
            color: #fff !important;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: #0164b0 !important
            }

            &:focus {
                outline: 2px solid var(--bs-primary);
                outline-offset: 2px;
                text-decoration: none
            }
        }

        .mktoFieldWrap:has([type="text"], [type="email"], [type="tel"], [type="url"], [type="number"], textarea, select) label {
            font-family: "Roboto";
            font-size: 14px;
            line-height: 16x;
            display: inline-block;
            color: var(--bs-body-color);
            position: absolute;
            left: 2ch;
            top: -12px;
            background-color: #fff;


        }

        label::after {
            content: "*";
            color: #d9534f;
            padding-left: 2px;
            position: absolute;
            right: -1ch;
            background-color: #fff;
        }


        input:not([type="checkbox"]):not([type="radio"]),
        textarea {
            min-height: 56px;


            &:focus-within {
                outline: none !important;
                box-shadow: none !important;

            }
        }

        textarea {
            box-sizing: content-box;
            min-height: 4lh;
            resize: vertical;
        }

        .mktoCheckboxList {
            display: flex;
            flex-direction: row;
            gap: 8px;
            margin-bottom: 32px;
            align-items: start;

            input {
                margin-top: 8px;

                &:focus-within {
                    outline: none !important;
                    outline-offset: 2px;
                    box-shadow: none !important;
                }
            }

            label {
                font-family: "Roboto";
                font-size: 14px;
                line-height: 24px;
                color: var(--bs-body-color);
                position: relative;
            }
        }
    }
}