/*# APAC Languages #*/

/*# Chinese #*/

.chinese {
    text-align: justify;
    -webkit-text-justify: inter-ideograph;
    -ms-text-justify: intex r-ideograph;
    text-justify: inter-ideograph;
    letter-spacing: 0.1em;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
}

p:lang(zh-Hans),
li:lang(zh-Hans) {
    font-family: "Noto Sans", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.1rem;
    line-height: 1.7em;
}

:lang(zh-Hant) {
    font-family: "Noto Sans", "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif !important;
    font-size: 1.1rem;
    line-height: 1.6em;
}

.chinese.vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

}

.chinese p {
    margin: 0;
    word-break: break-all;
}

/*.chinese p+p {
	text-indent: 2.3em;
}*/

.chinese em {
    font-style: normal;
    font-weight: 700;
}

.chinese h1:lang(zh-Hans),
.chinese h2:lang(zh-Hans) {
    font-family: "KaiTi", "楷体", STKaiti, "华文楷体", serif;
    font-weight: 700;
    font-size: 2em;
}

.chinese h1 span:lang(en),
.chinese h2 span:lang(en) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 500;
    letter-spacing: initial !important;
}

.chinese h1+p:not(.lead),
.chinese h2+p:not(.lead),
.chinese h3+p:not(.lead),
.chinese h4+p:not(.lead) {
    margin-top: 0;
}

.chinese :lang(en) {
    -webkit-text-orientation: upright;
    text-orientation: upright;
    letter-spacing: initial !important;
}

.chinese:lang(zh-Hant) :lang(en) {
    font-weight: 300;
}

.chinese time {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: digits 2;
    text-combine-upright: digits 2;
    text-transform: full-width;
}

/*# Thai #*/

.thai,
:lang(th) {
    font-family: "Noto Sans", "Kanit", "Thonburi", "Leelawadee UI", "Cordia New", Noto, "Noto Sans Thai", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.1em;
    line-height: 1.6em;
}

/*# Hindi #*/

.hindi,
:lang(hi) {
    font-family: "Noto Sans", "Hind", "Nirmala UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 1.1em;
    line-height: 1.6em;
}



/*# Fonts #*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* For Chinese */
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai');
/* For Thai */
@import url('https://fonts.googleapis.com/css?family=Hind&subset=devanagari');
/* For Hindi */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=devanagari');


svg.fa-map-marker-alt {width: 10px; height: 12px;}