

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "TTRoundsNeue-Light",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #58595b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: "TTRoundsNeue-Medium",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: inherit;
}



@font-face {
    font-family: "TTRoundsNeue-Bold";
    src: url(fonts/38922B_0_0.eot);
    src: url(fonts/38922B_0_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_0_0.woff2) format("woff2"),url(fonts/38922B_0_0.woff) format("woff"),url(fonts/38922B_0_0.ttf) format("truetype"),url(fonts/38922B_0_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Medium";
    src: url(fonts/38922B_1_0.eot);
    src: url(fonts/38922B_1_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_1_0.woff2) format("woff2"),url(fonts/38922B_1_0.woff) format("woff"),url(fonts/38922B_1_0.ttf) format("truetype"),url(fonts/38922B_1_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Light";
    src: url(fonts/38922B_2_0.eot);
    src: url(fonts/38922B_2_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_2_0.woff2) format("woff2"),url(fonts/38922B_2_0.woff) format("woff"),url(fonts/38922B_2_0.ttf) format("truetype"),url(fonts/38922B_2_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Thin";
    src: url(fonts/38922B_3_0.eot);
    src: url(fonts/38922B_3_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_3_0.woff2) format("woff2"),url(fonts/38922B_3_0.woff) format("woff"),url(fonts/38922B_3_0.ttf) format("truetype"),url(fonts/38922B_3_0.svg#wf) format("svg")
}

h1,h2,h3,h4 {
    line-height: 1.3
}

.bg-primary {
    background-color: #58595b;
    color: #fff
}

.bg-secondary {
    background-color: #ee3124;
    color: #fff
}

.bg-dark-grey {
    background-color: #58595b;
    color: #fff
}

.bg-dark-grey a {
    color: #fff
}

.bg-medium-grey {
    background-color: #a5a6a7;
    color: #fff
}

.bg-medium-grey a {
    color: #fff
}

.bg-light-grey-2 {
    background-color: #f0f0f0;
    color: #58595b
}

.bg-light-grey {
    background-color: #d8d9da;
    color: #58595b
}

.bg-light-grey a,.bg-white {
    color: #58595b
}

.bg-white {
    background-color: #fff
}

.bg-white a {
    color: #58595b
}

.bg-black {
    background-color: #000
}

.bg-black,.bg-black a {
    color: #fff
}


[type=color],[type=date],[type=datetime-local],[type=datetime],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],[type=week],textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.1375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #a5a6a7;
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type=color]:focus,[type=date]:focus,[type=datetime-local]:focus,[type=datetime]:focus,[type=email]:focus,[type=month]:focus,[type=number]:focus,[type=password]:focus,[type=search]:focus,[type=tel]:focus,[type=text]:focus,[type=time]:focus,[type=url]:focus,[type=week]:focus,textarea:focus {
    outline: none;
    border: 1px solid #717275;
    background-color: #fff;
    box-shadow: 0 0 5px #a5a6a7;
    transition: box-shadow .5s,border-color .25s ease-in-out
}

select {
    height: 2.1375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #a5a6a7;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28113, 114, 117%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    transition: box-shadow .5s,border-color .25s ease-in-out
}

@media screen and (min-width: 0\0) {
    select {
        background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==")
    }
}

select:focus {
    outline: none;
    border: 1px solid #717275;
    background-color: #fff;
    box-shadow: 0 0 5px #a5a6a7;
    transition: box-shadow .5s,border-color .25s ease-in-out
}


.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: .85em 3em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: .9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #58595b;
    color: #fff
}


.button.primary {
    background-color: #58595b;
    color: #fff
}

.button.primary:focus,.button.primary:hover {
    background-color: #464749;
    color: #fff
}

.button.secondary {
    background-color: #ee3124;
    color: #000
}

.button.secondary:focus,.button.secondary:hover {
    background-color: #cb1c10;
    color: #000
}

.button.success {
    background-color: #3adb76;
    color: #000
}

.button.success:focus,.button.success:hover {
    background-color: #22bb5b;
    color: #000
}

.button.warning {
    background-color: #ffae00;
    color: #000
}

.button.warning:focus,.button.warning:hover {
    background-color: #cc8b00;
    color: #000
}

.button.alert {
    background-color: #cc4b37;
    color: #000
}

.button.alert:focus,.button.alert:hover {
    background-color: #a53b2a;
    color: #000
}



@font-face {
    font-family: "TTRoundsNeue-Bold";
    src: url(fonts/38922B_0_0.eot);
    src: url(fonts/38922B_0_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_0_0.woff2) format("woff2"),url(fonts/38922B_0_0.woff) format("woff"),url(fonts/38922B_0_0.ttf) format("truetype"),url(fonts/38922B_0_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Medium";
    src: url(fonts/38922B_1_0.eot);
    src: url(fonts/38922B_1_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_1_0.woff2) format("woff2"),url(fonts/38922B_1_0.woff) format("woff"),url(fonts/38922B_1_0.ttf) format("truetype"),url(fonts/38922B_1_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Light";
    src: url(fonts/38922B_2_0.eot);
    src: url(fonts/38922B_2_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_2_0.woff2) format("woff2"),url(fonts/38922B_2_0.woff) format("woff"),url(fonts/38922B_2_0.ttf) format("truetype"),url(fonts/38922B_2_0.svg#wf) format("svg")
}

@font-face {
    font-family: "TTRoundsNeue-Thin";
    src: url(fonts/38922B_3_0.eot);
    src: url(fonts/38922B_3_0.eot?#iefix) format("embedded-opentype"),url(fonts/38922B_3_0.woff2) format("woff2"),url(fonts/38922B_3_0.woff) format("woff"),url(fonts/38922B_3_0.ttf) format("truetype"),url(fonts/38922B_3_0.svg#wf) format("svg")
}
