<div class="modal fade" id="popupModal" tabindex="-3" role="dialog" aria-label="PopupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="popupTitle" style="display: inline" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="right: 10px;">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="popupType" />
                <div class="form-group">
                    <label for="popupSeniority">Subject: </label>
                    <% if (title == "tickets") { %>
                    <input class="form-control" type="text" id="popupSeniority" readonly="readonly" />
                    <% } else { %>
                        <input class="form-control" type="text" id="popupSeniority" required="required" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="popupBody">Additional Information: </label>
                    <% if (title == "tickets") { %>
                        <textarea class="form-control" disabled="disabled" id="popupBody" style="height:280px; resize: none;"></textarea>
                    <% } else { %>
                        <textarea class="form-control" id="popupBody" style="height:280px; resize: none;"></textarea>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <% if (title === "home") { %>
                <button id="btnPopupModalSave" class="btn btn-primary" style="position: relative;">Submit</button>
                <% } %>
                <button id="btnPopupModalCancel" class="btn btn-default" data-dismiss="modal" style="position: relative;">Cancel</button>
            </div>
        </div>
    </div>
</div>