
#place134ETCD3 {	
	left : 1401px;
	top : 739px;	
}

#place227ETCD3 {	
	left : 1771px;
	top : 1740px;	
}

#place266ETCD3 {	
	left : 969px;
	top : 1950px;
}

#place234ETCD3 {	
	left : 1821px;
	top : 1950px;
}

#place232ETCD3 {	
	left : 1821px;
	top : 1880px;
}

#place214ETCD3 {	
	left : 2272px;
	top : 1950px;
}

#place148ETCD3 {	
	left : 2282px;
	top : 611px;
}

#place244ETCD3 {	
	left : 1573px;
	top : 1915px;
}

#place236ETCD3 {	
	left : 1821px;
	top : 2020px;
}

#place225ETCD3 {	
	left : 1954px;
	top : 2020px;
}

#place218ETCD3 {	
	left : 2004px;
	top : 1740px;
}

#place246ETCD3 {	
	left : 1400px;
	top : 1705px;
}

#place250ETCD3 {	
	left : 1400px;
	top : 1845px;
}

#place184ETCD3 {	
	left : 2382px;
	top : 1384px;
}

#place160ETCD3 {	
	left : 2382px;
	top : 783px;
}

#place245ETCD3 {	
	left : 1350px;
	top : 1705px;
}

#place216ETCD3 {	
	left : 2272px;
	top : 2020px;
}

#place203ETCD3 {	
	left : 2410px;
	top : 1950px;
}

#place261ETCD3 {	
	left : 919px;
	top : 1810px;
}

#place206ETCD3 {	
	left : 2460px;
	top : 2020px;
}

#place262ETCD3 {	
	left : 969px;
	top : 1810px;
}

#place230ETCD3 {	
	left : 1821px;
	top : 1810px;
}

#place228ETCD3 {	
	left : 1821px;
	top : 1740px;
}

#place205ETCD3 {	
	left : 2410px;
	top : 2020px;
}

#place213ETCD3 {	
	left : 2222px;
	top : 1950px;
}

#place032ETCD3 {	
	left : 970px;
	top : 218px;
}

#place031ETCD3 {	
	left : 920px;
	top : 218px;
}

#place033ETCD3 {	
	left : 920px;
	top : 288px;
}

#place247ETCD3 {	
	left : 1350px;
	top : 1775px;
}

#place028ETCD3 {	
	left : 970px;
	top : 78px;
}

#place027ETCD3 {	
	left : 920px;
	top : 78px;
}

#place029ETCD3 {	
	left : 920px;
	top : 148px;
}

#place030ETCD3 {	
	left : 970px;
	top : 148px;
}

#place024ETCD3 {	
	left : 703px;
	top : 358px;
}

#place023ETCD3 {	
	left : 653px;
	top : 358px;
}

#place025ETCD3 {	
	left : 920px;
	top : 8px;
}

#place026ETCD3 {	
	left : 970px;
	top : 8px;
}

#place020ETCD3 {	
	left : 703px;
	top : 218px;
}

#place019ETCD3 {	
	left : 653px;
	top : 218px;
}

#place021ETCD3 {	
	left : 653px;
	top : 288px;
}

#place022ETCD3 {	
	left : 703px;
	top : 288px;
}

#place016ETCD3 {	
	left : 703px;
	top : 78px;
}

#place015ETCD3 {	
	left : 653px;
	top : 78px;
}

#place017ETCD3 {	
	left : 653px;
	top : 148px;
}

#place018ETCD3 {	
	left : 703px;
	top : 148px;
}

#place013ETCD3 {	
	left : 653px;
	top : 8px;
}

#place014ETCD3 {	
	left : 703px;
	top : 8px;
}

#place233ETCD3 {	
	left : 1771px;
	top : 1950px;
}

#place139ETCD3 {	
	left : 1525px;
	top : 599px;
}

#place124ETCD3 {	
	left : 672px;
	top : 700px;
}

#place215ETCD3 {	
	left : 2222px;
	top : 2020px;
}

#place138ETCD3 {	
	left : 1575px;
	top : 529px;
}

#place042ETCD3 {	
	left : 1157px;
	top : 148px;
}

#place089ETCD3 {	
	left : 2410px;
	top : 147px;
}

#place053ETCD3 {	
	left : 1771px;
	top : 147px;
}

#place123ETCD3 {	
	left : 622px;
	top : 700px;
}

#place152ETCD3 {	
	left : 2482px;
	top : 611px;
}

#place079ETCD3 {	
	left : 2219px;
	top : 217px;
}

#place144ETCD3 {	
	left : 1575px;
	top : 739px;
}

#place130ETCD3 {	
	left : 1401px;
	top : 599px;
}

#place047ETCD3 {	
	left : 1107px;
	top : 358px;
}

#place141ETCD3 {	
	left : 1525px;
	top : 669px;
}

#place038ETCD3 {	
	left : 1157px;
	top : 8px;
}

#place140ETCD3 {	
	left : 1575px;
	top : 599px;
}

#place149ETCD3 {	
	left : 2382px;
	top : 551px;
}

#place150ETCD3 {	
	left : 2382px;
	top : 611px;
}

#place113ETCD3 {	
	left : 456px;
	top : 560px;
}

#place045ETCD3 {	
	left : 1107px;
	top : 288px;
}

#place155ETCD3 {	
	left : 2182px;
	top : 723px;
}

#place034ETCD3 {	
	left : 970px;
	top : 288px;
}

#place159ETCD3 {	
	left : 2382px;
	top : 723px;
}

#place041ETCD3 {	
	left : 1107px;
	top : 148px;
}

#place059ETCD3 {	
	left : 1771px;
	top : 357px;
}

#place073ETCD3 {	
	left : 2219px;
	top : 7px;
}

#place086ETCD3 {	
	left : 2460px;
	top : 7px;
}

#place102ETCD3 {	
	left : 174px;
	top : 560px;
}

#place100ETCD3 {	
	left : 17px;
	top : 770px;
}

#place126ETCD3 {	
	left : 1401px;
	top : 459px;
}

#place125ETCD3 {	
	left : 1351px;
	top : 459px;
}

#place096ETCD3 {	
	left : 2460px;
	top : 357px;	
	
}

#place095ETCD3 {	
	left : 2410px;
	top : 357px;
}

#place127ETCD3 {	
	left : 1351px;
	top : 529px;
}

#place121ETCD3 {	
	left : 622px;
	top : 630px;
}

#place084ETCD3 {	
	left : 2269px;
	top : 357px;
}

#place133ETCD3 {	
	left : 1351px;
	top : 739px;
}

#place068ETCD3 {	
	left : 2004px;
	top : 217px;
}

#place122ETCD3 {	
	left : 672px;
	top : 630px;
}

#place049ETCD3 {	
	left : 1771px;
	top : 7px;
}

#place104ETCD3 {	
	left : 174px;
	top : 630px;
}

#place101ETCD3 {	
	left : 124px;
	top : 560px;
}

#place194ETCD3 {	
	left : 2482px;
	top : 1576px;
}

#place145ETCD3 {	
	left : 2182px;
	top : 551px;
}

#place116ETCD3 {	
	left : 506px;
	top : 630px;
}

#place039ETCD3 {	
	left : 1107px;
	top : 78px;
}

#place131ETCD3 {	
	left : 1351px;
	top : 669px;
}

#place090ETCD3 {	
	left : 2460px;
	top : 147px;
}

#place115ETCD3 {	
	left : 456px;
	top : 630px;
}

#place072ETCD3 {	
	left : 2004px;
	top : 357px;
}

#place212ETCD3 {	
	left : 2272px;
	top : 1880px;
}

#place193ETCD3 {	
	left : 2482px;
	top : 1516px;
}

#place192ETCD3 {	
	left : 2382px;
	top : 1576px;
}

#place085ETCD3 {	
	left : 2410px;
	top : 7px;
}

#place196ETCD3 {	
	left : 2582px;
	top : 1576px;
}

#place195ETCD3 {	
	left : 2582px;
	top : 1516px;
}

#place191ETCD3 {	
	left : 2382px;
	top : 1516px;
}

#place190ETCD3 {	
	left : 2282px;
	top : 1576px;
}

#place238ETCD3 {	
	left : 1573px;
	top : 1705px;
}

#place239ETCD3 {	
	left : 1523px;
	top : 1775px;
}

#place240ETCD3 {	
	left : 1573px;
	top : 1775px;
}

#place241ETCD3 {	
	left : 1523px;
	top : 1845px;
}

#place251ETCD3 {	
	left : 1350px;
	top : 1915px;
}

#place242ETCD3 {	
	left : 1573px;
	top : 1845px;
}

#place252ETCD3 {	
	left : 1400px;
	top : 1915px;
}

#place237ETCD3 {	
	left : 1523px;
	top : 1705px;
}

#place263ETCD3 {	
	left : 919px;
	top : 1880px;
}

#place265ETCD3 {	
	left : 919px;
	top : 1950px;
}

#place268ETCD3 {	
	left : 969px;
	top : 2020px;
}

#place253ETCD3 {	
	left : 1104px;
	top : 1810px;
}

#place198ETCD3 {	
	left : 2460px;
	top : 1740px;
}

#place204ETCD3 {	
	left : 2460px;
	top : 1950px;
}

#place171ETCD3 {	
	left : 2582px;
	top : 950px;
}

#place168ETCD3 {	
	left : 2382px;
	top : 1010px;
}

#place167ETCD3 {	
	left : 2382px;
	top : 950px;
}

#place166ETCD3 {	
	left : 2282px;
	top : 1010px;
}

#place165ETCD3 {	
	left : 2282px;
	top : 950px;
}

#place164ETCD3 {	
	left : 2582px;
	top : 783px;
}

#place163ETCD3 {	
	left : 2582px;
	top : 723px;
}

#place162ETCD3 {	
	left : 2482px;
	top : 783px;
}

#place161ETCD3 {	
	left : 2482px;
	top : 723px;
}

#place169ETCD3 {	
	left : 2482px;
	top : 950px;
}

#place170ETCD3 {	
	left : 2482px;
	top : 1010px;
}

#place220ETCD3 {	
	left : 2004px;
	top : 1810px;
}

#place223ETCD3 {	
	left : 1954px;
	top : 1950px;
}

#place222ETCD3 {	
	left : 2004px;
	top : 1880px;
}

#place221ETCD3 {	
	left : 1954px;
	top : 1880px;
}

#place197ETCD3 {	
	left : 2410px;
	top : 1740px;
}

#place270ETCD3 {	
	left : 715px;
	top : 1740px;
}

#place274ETCD3 {	
	left : 715px;
	top : 1880px;
}

#place269ETCD3 {	
	left : 665px;
	top : 1740px;
}

#place180ETCD3 {	
	left : 2582px;
	top : 1193px;
}

#place177ETCD3 {	
	left : 2482px;
	top : 1133px;
}

#place176ETCD3 {	
	left : 2382px;
	top : 1193px;
}

#place143ETCD3 {	
	left : 1525px;
	top : 739px;
}

#place065ETCD3 {	
	left : 1954px;
	top : 147px;
}

#place118ETCD3 {	
	left : 506px;
	top : 700px;
}

#place097ETCD3 {	
	left : 17px;
	top : 560px;
}

#place185ETCD3 {	
	left : 2482px;
	top : 1324px;
}

#place046ETCD3 {	
	left : 1157px;
	top : 288px;
}

#place201ETCD3 {	
	left : 2410px;
	top : 1880px;
}

#place062ETCD3 {	
	left : 2004px;
	top : 7px;
}

#place172ETCD3 {	
	left : 2582px;
	top : 1010px;
}

#place106ETCD3 {	
	left : 174px;
	top : 700px;
}

#place064ETCD3 {	
	left : 2004px;
	top : 77px;
}

#place050ETCD3 {	
	left : 1821px;
	top : 7px;
}

#place226ETCD3 {	
	left : 2004px;
	top : 2020px;
}

#place142ETCD3 {	
	left : 1575px;
	top : 669px;
}

#place071ETCD3 {	
	left : 1954px;
	top : 357px;
}

#place107ETCD3 {	
	left : 290px;
	top : 560px;
}

#place081ETCD3 {	
	left : 2219px;
	top : 287px;
}

#place129ETCD3 {	
	left : 1351px;
	top : 599px;
}

#place271ETCD3 {	
	left : 665px;
	top : 1810px;
}

#place151ETCD3 {	
	left : 2482px;
	top : 551px;
}

#place277ETCD3 {	
	left : 665px;
	top : 2020px;
}

#place188ETCD3 {	
	left : 2582px;
	top : 1384px;
}

#place058ETCD3 {	
	left : 1821px;
	top : 287px;
}

#place099ETCD3 {	
	left : 17px;
	top : 700px;
}

#place174ETCD3 {	
	left : 2282px;
	top : 1193px;
}

#place087ETCD3 {	
	left : 2410px;
	top : 77px;
}

#place243ETCD3 {	
	left : 1523px;
	top : 1915px;
}

#place235ETCD3 {	
	left : 1771px;
	top : 2020px;
}

#place083ETCD3 {	
	left : 2219px;
	top : 357px;
}

#place199ETCD3 {	
	left : 2410px;
	top : 1810px;
}

#place231ETCD3 {	
	left : 1771px;
	top : 1880px;
}

#place057ETCD3 {	
	left : 1771px;
	top : 287px;
}

#place229ETCD3 {	
	left : 1771px;
	top : 1810px;
}

#place132ETCD3 {	
	left : 1401px;
	top : 669px;
}

#place249ETCD3 {	
	left : 1350px;
	top : 1845px;
}

#place052ETCD3 {	
	left : 1821px;
	top : 77px;
}

#place211ETCD3 {	
	left : 2222px;
	top : 1880px;
}

#place224ETCD3 {	
	left : 2004px;
	top : 1950px;
}

#place128ETCD3 {	
	left : 1401px;
	top : 529px;
}

#place080ETCD3 {	
	left : 2269px;
	top : 217px;
}

#place273ETCD3 {	
	left : 665px;
	top : 1880px;
}

#place092ETCD3 {	
	left : 2460px;
	top : 217px;
}

#place075ETCD3 {	
	left : 2219px;
	top : 77px;
}

#place056ETCD3 {	
	left : 1821px;
	top : 217px;
}

#place067ETCD3 {	
	left : 1954px;
	top : 217px;
}

#place060ETCD3 {	
	left : 1821px;
	top : 357px;
}

#place094ETCD3 {	
	left : 2460px;
	top : 287px;
}

#place076ETCD3 {	
	left : 2269px;
	top : 77px;
}

#place082ETCD3 {	
	left : 2269px;
	top : 287px;
}

#place258ETCD3 {	
	left : 1154px;
	top : 1950px;
}

#place153ETCD3 {	
	left : 2582px;
	top : 551px;
}

#place210ETCD3 {	
	left : 2272px;
	top : 1810px;
}

#place156ETCD3 {	
	left : 2182px;
	top : 783px;
}

#place182ETCD3 {	
	left : 2282px;
	top : 1384px;
}

#place248ETCD3 {	
	left : 1400px;
	top : 1775px;
}

#place119ETCD3 {	
	left : 622px;
	top : 560px;
}

#place217ETCD3 {	
	left : 1954px;
	top : 1740px;
}

#place117ETCD3 {	
	left : 456px;
	top : 700px;
}

#place040ETCD3 {	
	left : 1157px;
	top : 78px;
}

#place209ETCD3 {	
	left : 2222px;
	top : 1810px;
}

#place208ETCD3 {	
	left : 2272px;
	top : 1740px;
}

#place183ETCD3 {	
	left : 2382px;
	top : 1324px;
}

#place147ETCD3 {	
	left : 2282px;
	top : 551px;
}

#place219ETCD3 {	
	left : 1954px;
	top : 1810px;
}

#place048ETCD3 {	
	left : 1157px;
	top : 358px;
}

#place200ETCD3 {	
	left : 2460px;
	top : 1810px;
}

#place091ETCD3 {	
	left : 2410px;
	top : 217px;
}

#place135ETCD3 {	
	left : 1525px;
	top : 459px;
}

#place189ETCD3 {	
	left : 2282px;
	top : 1516px;
}

#place043ETCD3 {	
	left : 1107px;
	top : 218px;
}

#place035ETCD3 {	
	left : 920px;
	top : 358px;
}

#place066ETCD3 {	
	left : 2004px;
	top : 147px;
}

#place175ETCD3 {	
	left : 2382px;
	top : 1133px;
}

#place093ETCD3 {	
	left : 2410px;
	top : 287px;
}

#place036ETCD3 {	
	left : 970px;
	top : 358px;
}

#place070ETCD3 {	
	left : 2004px;
	top : 287px;
}

#place074ETCD3 {	
	left : 2269px;
	top : 7px;
}

#place114ETCD3 {	
	left : 506px;
	top : 560px;
}

#place063ETCD3 {	
	left : 1954px;
	top : 77px;
}

#place111ETCD3 {	
	left : 290px;
	top : 700px;
}

#place103ETCD3 {	
	left : 124px;
	top : 630px;
}

#place259ETCD3 {	
	left : 1104px;
	top : 2020px;
}

#place077ETCD3 {	
	left : 2219px;
	top : 147px;
}

#place055ETCD3 {	
	left : 1771px;
	top : 217px;
}

#place157ETCD3 {	
	left : 2282px;
	top : 723px;
}

#place088ETCD3 {	
	left : 2460px;
	top : 77px;
}

#place105ETCD3 {	
	left : 124px;
	top : 700px;
}

#place158ETCD3 {	
	left : 2282px;
	top : 783px;
}

#place173ETCD3 {	
	left : 2282px;
	top : 1133px;
}

#place186ETCD3 {	
	left : 2482px;
	top : 1384px;
}

#place267ETCD3 {	
	left : 919px;
	top : 2020px;
}

#place137ETCD3 {	
	left : 1525px;
	top : 529px;
}

#place098ETCD3 {	
	left : 17px;
	top : 630px;
}

#place037ETCD3 {	
	left : 1107px;
	top : 8px;
}

#place054ETCD3 {	
	left : 1821px;
	top : 147px;
}

#place254ETCD3 {	
	left : 1154px;
	top : 1810px;
}

#place120ETCD3 {	
	left : 672px;
	top : 560px;
}

#place272ETCD3 {	
	left : 715px;
	top : 1810px;
}

#place051ETCD3 {	
	left : 1771px;
	top : 77px;
}

#place109ETCD3 {	
	left : 290px;
	top : 630px;
}

#place112ETCD3 {	
	left : 340px;
	top : 700px;
}

#place207ETCD3 {	
	left : 2222px;
	top : 1740px;
}

#place260ETCD3 {	
	left : 1154px;
	top : 2020px;
}

#place146ETCD3 {	
	left : 2182px;
	top : 611px;
}

#place255ETCD3 {	
	left : 1104px;
	top : 1880px;
}

#place275ETCD3 {	
	left : 665px;
	top : 1950px;
}

#place181ETCD3 {	
	left : 2282px;
	top : 1324px;
}

#place007ETCD3 {	
	left : 468px;
	top : 218px;
}

#place078ETCD3 {	
	left : 2269px;
	top : 147px;
}

#place002ETCD3 {	
	left : 518px;
	top : 8px;
}

#place257ETCD3 {	
	left : 1104px;
	top : 1950px;
}

#place003ETCD3 {	
	left : 468px;
	top : 78px;
}

#place008ETCD3 {	
	left : 518px;
	top : 218px;
}

#place004ETCD3 {	
	left : 518px;
	top : 78px;
}

#place001ETCD3 {	
	left : 468px;
	top : 8px;
}

#place005ETCD3 {	
	left : 468px;
	top : 148px;
}

#place108ETCD3 {	
	left : 340px;
	top : 560px;
}

#place012ETCD3 {	
	left : 518px;
	top : 358px;
}

#place009ETCD3 {	
	left : 468px;
	top : 288px;
}

#place011ETCD3 {	
	left : 468px;
	top : 358px;
}

#place110ETCD3 {	
	left : 340px;
	top : 630px;
}

#place278ETCD3 {	
	left : 715px;
	top : 2020px;
}

#place006ETCD3 {	
	left : 518px;
	top : 148px;
}

#place256ETCD3 {	
	left : 1154px;
	top : 1880px;
}

#place187ETCD3 {	
	left : 2582px;
	top : 1324px;
}

#place044ETCD3 {	
	left : 1157px;
	top : 218px;
}

#place010ETCD3 {	
	left : 518px;
	top : 288px;
}

#place202ETCD3 {	
	left : 2460px;
	top : 1880px;
}

#place061ETCD3 {	
	left : 1954px;
	top : 7px;
}

#place069ETCD3 {	
	left : 1954px;
	top : 287px;
}

#place154ETCD3 {	
	left : 2582px;
	top : 611px;
}

#place276ETCD3 {	
	left : 715px;
	top : 1950px;
}

#place178ETCD3 {	
	left : 2482px;
	top : 1193px;
}

#place136ETCD3 {	
	left : 1575px;
	top : 459px;
}

#place179ETCD3 {	
	left : 2582px;
	top : 1133px;
}

#place264ETCD3 {	
	left : 969px;
	top : 1880px;
}

