<% if (userType == "superadmin") { %>
<div id="chartZoom">
    <a href="#" id="zoomIn">Zoom In</a> <a href="#" id="zoomOut">Zoom Out</a>
</div>

<div id="chart1" class='with-transitions'>
    <svg style="height: 350px; margin: 0 auto"></svg>
</div>
<% } %>
<!-- <div id="container" style="min-width: 310px; height: 320px; margin: 0 auto"></div> -->

<div style="display: inline-block;">
    <label for="ticketType">Ticket Type: </label>
    <select id="ticketType" class="form-control form-control-sm">
        <option value="">All</option>
        <option value="floor">Facility Issues</option>
        <option value="parking">Parking Issues</option>
    </select>
</div>
<div style="display: inline-block;">
    <label for="ticketStatus">Ticket Status: </label>
    <select id="ticketStatus" class="form-control form-control-sm">
        <option value="">All</option>
        <option value="open" selected="selected">Open</option>
        <option value="resolved">Resolved</option>
    </select>
</div>

<table id="ticketsTable" class="table table-hover table-bordered table-sm"></table>

<%- include ../shared/ticket.ejs %>
