/* D0 */

/* POSITIONING */

.floor {
    width: 2350px;
}

.main-content {
    margin: 100px;
    display: grid;
    width: 2200px;
    height: 1300px;
    grid: repeat(26, 50px)/repeat(44, 50px);
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
    position: relative;
    background-color: var(--white);
    box-shadow: -8px -8px 0.6rem rgba(0 0 0 / .125);
    transition: .6s all ease-in-out;
}



.isometric {
    transform: scale(.55) translate(280px, 0px) rotate(-45deg) skew(15deg, 15deg);
}

.isometric:before {
    content: '';
    position: absolute;
    width: 48.5%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: -30px 30px #074246;
}

.isometric .main-floor:before {
    content: '';
    position: absolute;
    width: 97%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0px 30px #074246;
}

.isometric .title {
    top: -100px;
    left: -840px;
    text-shadow: -14px 9px 6px rgb(84 132 135 / 50%);
}


.main-floor {
    grid-column: 22 / span 23;
    grid-row: 1 / span 17;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid double double solid;
}

.main-content>.door-hor1 {
    top: 0px;
    left: -272px;
    grid-column: 11 / span 1;
    grid-row: 9 / span 1;
}

.main-content>.door-hor2 {
    bottom: -46px;
    left: 40px;
    grid-column: 16 / span 1;
    grid-row: 26 / span 1;
}

.step {
    left: -2px;
    border-left: 2px solid var(--primary);
    grid-column: 8 / span 4;
    grid-row: 5 / span 2;
}

.step:before {
    content: '';
    position: absolute;
    bottom: 0;
    lefT: 0;
    width: 200px;
    height: 2px;
    background-image: linear-gradient(90deg, var(--primary), transparent);
}

.step .coffee-table {
    top: 20px;
    left: 60px;
    position: absolute;
}

.step .coffee-chair {
    width: 34px;
    height: 26px;
    top: 10px;
    left: 10px;
    position: absolute;
}

.step .coffee-chair:nth-of-type(2n) {
    transform: rotate(65deg);
    top: 10px;
    left: 110px;
}

.exit1 {
    top: 15px;
    left: 10px;
    grid-column: 5 / span 1;
    grid-row: 8 / span 1;
}

.exit2 {
    bottom: -90px;
    left: -33px;
    grid-column: 17 / span 1;
    grid-row: 26 / span 1;
}


.foyer {
    grid-column: 1 / span 6;
    grid-row: 9 / span 18;
    border-width: 4px 4px 4px 0;
}

.elevators {
    grid-column: 7 / span 4;
    grid-row: 9 / span 9;
    border-width: 4px 4px 4px 0;
}

.elevators .elevator {
    position: absolute;
    width: 150px;
    height: 100px;
    border: 2px solid var(--primary);
    border-width: 2px 2px 2px 0;
    top: 30px;
}
.elevators .elevator:nth-of-type(2n) {
    top: 170px;
}
.elevators .elevator:nth-of-type(3n) {
    top: 290px;
}
.elevator .toilet {
    left: 40%;
}
.elevator .door-ver {
    transform: rotate(-180deg);
    left: -35px;
    top: 20px;
    background: none !important;
}

.inbetween {
    grid-column: 11 / span 8;
    grid-row: 12 / span 2;
    border-width: 4px 4px 0 0;
}

.wall1 {
    grid-column: 22 / span 1;
    grid-row: 9 / span 3;
    border-width: 4px;
    height: 160px;
    left: -4px;
}

.wall2 {
    grid-column: 22 / span 1;
    grid-row: 14 / span 4;
    border-width: 4px;
    height: 210px;
    bottom: 18px;
    left: -4px;
}

.wall3 {
    grid-column: 7 / span 2;
    grid-row: 18 / span 9;
    border-width: 0 4px 4px 0;
}

.pillar1 {
    grid-column: 34 / span 1;
    grid-row: 9 / span 1;
    border-width: 4px;
}

.pillar2 {
    grid-column: 44 / span 1;
    grid-row: 9 / span 1;
    border-width: 4px;
}

.utility {
    grid-column: 17 / span 2;
    grid-row: 9 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
}

.utility .door-hor {
    top: -35px;
    left: 25px;
    transform: rotate(180deg);
}

.utility2 {
    grid-column: 17 / span 2;
    grid-row: 14 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
}

.utility2 .door-ver {
    right: -4px;
    top: 70px;
    transform: rotate(180deg);
}

.mens {
    grid-column: 11 / span 6;
    grid-row: 9 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.womens {
    grid-column: 11 / span 6;
    grid-row: 14 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.mens .door-ver {
    right: -4px;
    top: 40px;
    transform: rotate(180deg);
}

.mens .name {
    text-align: right;
}

.womens .door-ver {
    right: -4px;
    top: 60px;
    transform: rotate(180deg);
}

.womens .name {
    top: calc(50% + 15px);
    text-align: right;
}

.womens .stall {
    bottom: auto;
    top: -90px;
    left: auto;
    right: -2px;
    transform: rotate(180deg);
}

.womens .vanities {
    position: absolute;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}

.womens .vanities .vanity {
    border-width: 2px 2px 2px 0;
}

.cantina {
    grid-column: 1 / span 4;
    grid-row: 1 / span 8;
    border: 4px solid var(--primary);
    border-width: 0 4px 0 0;
}

.cantina .door-ver {
    bottom: 85px;
    right: -35px;
}

.cantina .sink {
    position: absolute;
    left: 50px;
    bottom: -58px;
    transform: rotate(90deg);
}

.cantina .sink .sink-tap-1,
.cantina .sink .sink-tap-2 {
    position: absolute;
    right: 9px;
    bottom: 121px;
}

.cantina .sink .sink-tap-2 {
    bottom: 102px;
    height: 10px;
}

.cantina .sink .sink-tap-2:before {
    position: absolute;
    right: -8px;
    top: -8px;
}

.cantina .ref {
    position: absolute;
    border: 2px solid var(--primary);
    width: 42px;
    height: 40px;
    right: 3px;
    bottom: -2px;
}

.cantina .cooler1 {
    transform: rotate(180deg);
    left: -2px;
    top: 270px;
}

.cantina .island {
    position: absolute;
    top: -2px;
    left: 50px;
}


.cantina .island:after {
    left: 38px;
}

.cantina .island .chair {
    left: 70px;
}

.server {
    grid-column: 5 / span 3;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
}

.server .door-hor {
    bottom: -34px;
    left: 30%;
}

.triavna .door-hor,
.silistra .door-hor {
    bottom: -34px;
    left: 70%;
}

.triavna {
    grid-column: 8 / span 6;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid solid double solid;
}

.silistra {
    grid-column: 14 / span 6;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid solid double solid;
}

.eusd {
    grid-column: 9 / span 13;
    grid-row: 17 / span 10;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid double double solid;
}

.eusd .cooler3 {
    right: -2px;
    top: 15px;
    position: absolute;
}

.desks1 {
    grid-column: 22 / span 2;
    grid-row: 1 / span 5;
    top: 25px;
}

.desks1:before,
.desks3:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 25px;
    top: -27px;
    left: 0;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px;
    background: repeating-linear-gradient(45deg, transparent, transparent 6px, var(--primary-light) 6px, var(--primary-light) 8px);
}

.desks2 {
    grid-column: 27 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks3 {
    grid-column: 32 / span 2;
    grid-row: 1 / span 5;
    top: 25px;
}

.desks4 {
    grid-column: 37 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks5 {
    grid-column: 42 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks6 {
    grid-column: 27 / span 2;
    grid-row: 12 / span 5;
}

.desks7 {
    grid-column: 32 / span 2;
    grid-row: 12 / span 5;
}

.desks8 {
    grid-column: 37 / span 2;
    grid-row: 12 / span 5;
}

.desks9 {
    grid-column: 42 / span 2;
    grid-row: 12 / span 5;
}

.desks-left.desks10 {
    grid-column: 23 / span 2;
    grid-row: 9 / span 2;
    top: 10px;
    left: -4px;
}

.desks-left.desks11 {
    grid-column: 23/ span 2;
    grid-row: 14 / span 2;
    bottom: -20px;
    left: -4px;
}

.eusd .desks.desks-left {
    position: absolute;
    bottom: 20px;
}

.eusd .desks.desks12 {
    position: absolute;
    bottom: 20px;
    left: 220px;
}

.eusd .desks.desks13 {
    position: absolute;
    bottom: 20px;
    right: 80px;
}

/* Office amenities */

.fa-fire-extinguisher:nth-of-type(1n) {
    grid-column: 8 / span 1;
    grid-row: 8 / span 1;
    transform: translateY(10px);
    --fa-primary-color: var(--red);
    --fa-secondary-opacity: .75;
}
.fa-air-conditioner:nth-of-type(1n) {
    grid-column: 8 / span 1;
    grid-row: 8 / span 1;
    transform: translate(42px, 10px);
}
.fa-air-conditioner:nth-of-type(2n) {
    grid-column: 24 / span 1;
    grid-row: 1 / span 1;
    transform: translateY(5px);
}
.fa-air-conditioner:nth-of-type(3n) {
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
    transform: translate(10px, -15px);
}
.floor .fa-print:nth-of-type(1n) {
    grid-column: 14 / span 1;
    grid-row: 8 / span 1;
    transform: translateY(10px);
}
.floor .fa-shredder:nth-of-type(1n) {
    grid-column: 21 / span 1;
    grid-row: 15 / span 1;
    transform: translate(10px, -32px);
}
.floor .fa-glass:nth-of-type(1n) {
    grid-column: 21 / span 1;
    grid-row: 18 / span 1;
    transform: translate(10px, 0px);
}
.floor .fa-glass:nth-of-type(2n) {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    transform: translate(5px, -20px);
}
.floor .fa-glass:nth-of-type(3n) {
    grid-column: 33 / span 1;
    grid-row: 9 / span 1;
    transform: translate(15px, 10px);
}
.floor .fa-thermometer-half:nth-of-type(1n) {
    grid-column: 7 / span 1;
    grid-row: 5 / span 1;
    transform: translate(10px, 5px);
}
.floor .fa-pump-medical:nth-of-type(1n) {
    grid-column: 7 / span 1;
    grid-row: 8 / span 1;
    transform: translate(8px, 10px);
}
.floor .fa-pump-medical:nth-of-type(1n) {
    grid-column: 27 / span 1;
    grid-row: 8 / span 1;
    transform: translate(26px, -11px);
}


/* Harry Potter Mode */
.fa-shoe-prints {
    offset-path: path('M245,400s-21-71,53-70,137,20,137,20l128,23s66,9,101,1,72-22,112-44,88-61,102-75,0-59,0-59');
    offset-distance: 0%;
    offset-rotate: 0deg;
    animation: walk 12s linear 1 forwards;
    animation-play-state: paused;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

.fa-shoe-prints.active {
    visibility: visible;
    animation-play-state: running;
}

.fa-shoe-prints:before {
    animation: step 1000ms linear 500ms infinite both;
    animation-direction: alternate;
    animation-play-state: paused;
}

.fa-shoe-prints:after {
    animation: step 1000ms linear 1000ms infinite both;
    animation-direction: alternate;
    animation-play-state: paused;
}

.fa-shoe-prints.active:before,
.fa-shoe-prints.active:after {
    animation-play-state: running;
}

@keyframes walk {
    0% {
        offset-distance: 0%;
        transform: rotate(-90deg);
        opacity: 1;
    }

    10% {
        offset-distance: 10%;
        transform: rotate(0deg);
    }

    50% {
        offset-distance: 50%;
        transform: rotate(15deg);
    }

    75% {
        offset-distance: 75%;
        transform: rotate(-35deg);
    }

    80% {
        offset-distance: 80%;
        transform: rotate(-45deg);
    }

    97% {
        offset-distance: 97%;
        transform: rotate(-75deg);
        opacity: 1;
    }

    98% {
        offset-distance: 98%;
        transform: rotate(-75deg);
        opacity: 0;
    }

    100% {
        offset-distance: 100%;
        transform: rotate(-90deg);
        opacity: 0;
    }
}

@keyframes step {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0.5;
        transform: translateX(-12px);
    }
}