/* D2 */

/* POSITIONING */

.floor {
    width: 3900px;
}

.main-content {
    margin: 100px;
    display: grid;
    width: 3650px;
    height: 2050px;
    grid: repeat(50, 50px)/repeat(80, 50px);
    border: 4px solid var(--primary);
    border-width: 0;
    position: relative;
    background-color: var(--white);
    transition: .6s all ease-in-out;
}

.title {
    grid-column: 30 / span 11;
    grid-row: 1 / span 1;
    top: -80px;
}

/* Sections */
.top-left-out {
    grid-column: 1 / span 11;
    grid-row: 1 / span 11;
    border: 6px double var(--primary);
    border-width: 0 6px 6px 0;
}

.top-left {
    grid-column: 12 / span 21;
    grid-row: 1 / span 11;
    border: 6px double var(--primary);
    border-width: 6px 0 0 0;
    box-shadow: -8px -8px 0.6rem rgba(0 0 0 / .125);
}

.top-center {
    grid-column: 33 / span 10;
    grid-row: 1 / span 9;
    border: 6px double var(--primary);
    border-width: 0 6px 6px 6px;
}

.top-right {
    grid-column: 43 / span 21;
    grid-row: 1 / span 11;
    border: 6px double var(--primary);
    border-width: 6px 6px 0 0;
}

.top-right-out {
    grid-column: 64 / span 10;
    grid-row: 1 / span 11;
    border: 6px double var(--primary);
    border-width: 0 0 6px 0;
}

.main-floor {
    grid-column: 1 / span 73;
    grid-row: 12 / span 20;
    border: 4px dotted var(--primary);
    border-width: 0 4px 0 0;
}

.bottom-left-out {
    grid-column: 1 / span 11;
    grid-row: 32 / span 10;
    border: 6px double var(--primary);
    border-width: 6px 6px 0 0;
}

.bottom-left {
    grid-column: 12 / span 21;
    grid-row: 32 / span 10;
    border: 6px double var(--primary);
    border-width: 0 0 6px 0;
}

.bottom-center {
    grid-column: 33 / span 10;
    grid-row: 40 / span 2;
    border: 6px double var(--primary);
    border-width: 6px 6px 0 6px;
}

.bottom-right {
    grid-column: 43 / span 21;
    grid-row: 32 / span 10;
    border: 6px double var(--primary);
    border-width: 0 0 6px 0;
}

.bottom-right-out {
    grid-column: 64 / span 10;
    grid-row: 32 / span 10;
    border: 6px double var(--primary);
    border-width: 6px 0 0 6px;
}

/* Rooms */
.pirin .door-hor,
.rila .door-hor {
    bottom: -34px;
    left: 70%;
}

.pirin {
    grid-column: 1 / span 5;
    grid-row: 12 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid solid solid solid;
}

.rila {
    grid-column: 6 / span 6;
    grid-row: 12 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid solid double solid;
}

.room1 {
    grid-column: 14 / span 3;
    grid-row: 10 / span 6;
    border: 4px solid var(--primary);
    border-width: 4px;
    border-style: solid solid double solid;
}

.room1 .door-hor {
    bottom: -34px;
    left: 10%;
}

.room2 {
    grid-column: 17 / span 3;
    grid-row: 10 / span 6;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
    border-style: solid solid double solid;
}

.room2 .door-hor {
    bottom: -34px;
    left: 60%;
    transform: rotateY(180deg);
}

.booth1 {
    grid-column: 1 / span 3;
    grid-row: 16 / span 3;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid double solid solid;
}

.booth1 .door-ver {
    bottom: 25%;
    right: -34px;
    transform: rotateX(180deg);
}

.booth2 {
    grid-column: 1 / span 3;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 0 4px 0 4px;
    border-style: solid double solid solid;
}

.booth2 .door-ver {
    top: 25%;
    right: -34px;
}

.room3 {
    grid-column: 1 / span 5;
    grid-row: 22 / span 4;
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
}

.room3 .door-hor {
    top: -4px;
    right: 10px;
    transform: rotateY(180deg);
}

.room4 {
    grid-column: 6 / span 6;
    grid-row: 22 / span 4;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 4px;
    border-style: double solid solid solid;
}

.room4 .door-hor {
    top: -4px;
    left: 10px;
}

.cantina {
    grid-column: 1 / span 11;
    grid-row: 26 / span 6;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 4px;
}

.cantina .door-ver {
    top: 10%;
    right: -4px;
    transform: rotateY(180deg);
}

.cantina .sink {
    position: absolute;
    left: -2px;
    bottom: -1px;
    transform: rotate(180deg);
}

.cantina .sink .sink-tap-1,
.cantina .sink .sink-tap-2 {
    position: absolute;
    right: 9px;
    bottom: 121px;
}

.cantina .sink .sink-tap-2 {
    bottom: 102px;
    height: 10px;
}

.cantina .sink .sink-tap-2:before {
    position: absolute;
    right: -8px;
    top: -8px;
}

.cantina .ref {
    position: absolute;
    border: 2px solid var(--primary);
    width: 42px;
    height: 40px;
    left: -2px;
    bottom: 152px;
}

.cantina .island {
    position: absolute;
    bottom: -2px;
    left: 120px;
    transform: rotate(180deg);
    width: 200px;
    height: 20px;
}

.cantina .island:before {
    left: 38px;
}

.cantina .island:after {
    left: 122px;
}

.cantina .island .chair {
    left: 80px;
}

.cantina .sofa {
    position: absolute;
    bottom: 145px;
    left: 70px;
    transform: rotate(90deg);
}

.cantina .window-hor {
    position: absolute;
    bottom: -7px;
    left: 80px;
    top: auto;
    width: 300px;
}

.scanning {
    grid-column: 14 / span 7;
    grid-row: 19 / span 5;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 4px;
    border-style: double solid solid solid;
}

.scanning .door-hor {
    top: -4px;
    left: 10px;
}

.room5 {
    grid-column: 14 / span 7;
    grid-row: 24 / span 8;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid solid double solid;
}

.room5 .door-hor {
    bottom: -34px;
    left: 10px;
}

.office1 {
    grid-column: 33 / span 3;
    grid-row: 10 / span 5;
    border: 4px solid var(--primary);
    border-width: 0 0 4px 4px;
    border-style: solid solid double solid;
    height: 170px;
}

.office1 .door-hor {
    bottom: -4px;
    right: 2px;
    transform: rotate(180deg);
}

.office2 {
    grid-column: 36 / span 3;
    grid-row: 10 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid solid double solid;
    height: 170px;
    left: 2px;
    width: 144px;
    z-index: 1;
}

.office2 .door-hor {
    bottom: -4px;
    left: 3px;
    transform: rotateX(180deg);
}

.room6 {
    grid-column: 39 / span 4;
    grid-row: 12 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid solid solid double;
    height: 215px;
}

.room6 .door-ver {
    bottom: 4px;
    left: -4px;
    transform: rotateX(180deg);
}


.booth6 {
    grid-column: 33 / span 2;
    grid-row: 14 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px;
    border-style: solid double solid solid;
    height: 140px;
    transform: translateY(-30px);
}

.booth6 .door-ver {
    bottom: 10%;
    right: -34px;
    transform: rotateX(180deg);
}

.booth7 {
    grid-column: 39 / span 4;
    grid-row: 10 / span 2;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 4px;
    border-style: solid double solid solid;
}

.booth7 .door-ver {
    top: 10px;
    right: -34px;
}

.booth7 .name {
    top: 60%;
}

.switchboard {
    grid-column: 21 / span 6;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
}

.switchboard .door-hor {
    top: -4px;
    left: 30px;
}

.mens {
    grid-column: 21 / span 6;
    grid-row: 22 / span 5;
    border: 4px solid var(--primary);
    border-width: 0 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.vanities {
    right: -2px;
}

.stall {
    width: 69px;
}

.womens {
    grid-column: 21 / span 6;
    grid-row: 28 / span 4;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mens .door-ver,
.womens .door-ver {
    top: 70px;
    right: -34px;
}

.womens .stall {
    bottom: auto;
    top: -140px;
    left: auto;
    right: -2px;
    transform: rotate(180deg);
}

.womens .vanities {
    position: absolute;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}

.womens .vanities .vanity {
    border-width: 2px 0 2px 2px;
}

.mens .name,
.womens .name {
    text-align: right;
}

.mens .wall {
    top: -4px;
    bottom: auto;
    left: -4px;
    width: 69px;
    height: 62px;
    position: absolute;
}

.womens .wall {
    top: auto;
    bottom: -4px;
    left: -4px;
    width: 69px;
    height: 62px;
    position: absolute;
}

.booth3 {
    grid-column: 30 / span 2;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
    border-style: double solid solid solid;
}

.booth4 {
    grid-column: 32 / span 2;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
    border-style: double solid solid solid;
}

.booth5 {
    grid-column: 34 / span 2;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
    border-style: double solid solid solid;
}

.booth3 .door-hor,
.booth4 .door-hor,
.booth5 .door-hor {
    top: -34px;
    left: 10px;
    transform: rotateX(180deg);
}

.foyer {
    grid-column: 36 / span 10;
    grid-row: 19 / span 13;
    border: 4px solid var(--primary);
    border-style: solid solid double solid;
    border-width: 4px;
    box-shadow: none;
}

.foyer .name {
    left: 100px;
    top: 50%;
}

.foyer .double-door-1 {
    position: absolute;
    top: -4px;
    left: 20px;
    width: 90px;
    height: 35px;
}

.foyer .double-door-1 .door2 {
    right: 0;
    transform: rotateY(180deg);
}

.foyer .double-door-2 {
    position: absolute;
    top: -4px;
    right: 80px;
    width: 90px;
    height: 35px;
}

.foyer .double-door-2 .door1 {
    left: 7px;
    top: -5px;
    transform: scale(.75);
}

.foyer .double-door-2 .door2 {
    right: 0;
    transform: rotateY(180deg);
}

.foyer .double-door-3 {
    position: absolute;
    bottom: -4px;
    left: 52px;
    width: 90px;
    height: 35px;
    transform: rotateX(180deg);
}

.foyer .double-door-3 .door2 {
    right: 0;
    transform: rotateY(180deg);
}

.stairs1 {
    grid-column: 30 / span 6;
    grid-row: 22 / span 10;
    border: 4px solid var(--primary);
    border-width: 4px 0 4px 4px;
}

.stairs2 {
    grid-column: 40 / span 6;
    grid-row: 22 / span 10;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.server {
    grid-column: 49 / span 6;
    grid-row: 19 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.server .door-hor {
    top: -34px;
    right: 50px;
    transform: rotateX(180deg);
}

.mens2 {
    grid-column: 49 / span 6;
    grid-row: 22 / span 5;
    border: 4px solid var(--primary);
    border-width: 0 4px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mens2 .door-ver {
    top: 60px;
    left: -4px;
    transform: rotateX(180deg);
}

.mens2 .stall.stall1 {
    margin-left: auto;
    left: -4px;
}

.mens2 .name {
    left: 75%;
}

.mens2 .accessible-toilet {
    border: 4px solid var(--primary);
    border-width: 4px;
    position: absolute;
    bottom: -20px;
    left: -4px;
    width: 144px;
    height: 150px;
    background: var(--white);
    z-index: 1;
}

.mens2 .accessible-toilet .stall {
    bottom: 0;
    top: auto;
    position: absolute;
    right: 4px;
    left: auto;
}

.mens2 .accessible-toilet .vanity {
    position: absolute;
    bottom: 0px;
    left: -4px;
    top: auto;
    transform: rotate(180deg);
}

.mens2 .accessible-toilet .name {
    left: 50%;
    top: 50px;
}

.mens2 .accessible-toilet .door-ver {
    top: 10px;
    left: -39px;
    transform: rotateY(180deg) scale(1.25);
}

.womens2 {
    grid-column: 49 / span 6;
    grid-row: 28 / span 4;
    border: 4px solid var(--primary);
    border-width: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.womens2 .door-ver {
    top: 60px;
    left: -4px;
}

.mens.mens2 .wall,
.womens.womens2 .wall {
    right: -4px;
    left: auto;
}

.mens.mens2 .vanities,
.womens.womens2 .vanities {
    right: auto;
    left: -2px;
}

.womens.womens2 .stall {
    bottom: auto;
    top: -140px;
    left: auto;
    right: -2px;
    transform: rotate(180deg);
}

.mens.mens2 .vanities .vanity,
.womens.womens2 .vanities .vanity {
    border-width: 2px 2px 2px 0;
}

/* Walls */

.wall1 {
    grid-column: 21 / span 1;
    grid-row: 12 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.wall2 {
    grid-column: 54 / span 1;
    grid-row: 12 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.wall3 {
    grid-column: 21 / span 6;
    grid-row: 27 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
}

.wall4 {
    grid-column: 49 / span 6;
    grid-row: 27 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 4px;
}

/* Desks */
.desks1 {
    grid-column: 14 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks2 {
    grid-column: 19 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks3 {
    grid-column: 25 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks4 {
    grid-column: 30 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks5 {
    grid-column: 45 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks6 {
    grid-column: 50 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks7 {
    grid-column: 56 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks8 {
    grid-column: 61 / span 2;
    grid-row: 1 / span 5;
    height: 375px;
    top: 4px;
}

.desks9 {
    grid-column: 25 / span 2;
    grid-row: 10 / span 5;
    height: 300px;
    top: 4px;
}

.desks10 {
    grid-column: 30 / span 2;
    grid-row: 10 / span 5;
    height: 300px;
    top: 4px;
}