:root {
    --primary: #096b72;
    --primary-light: rgb(9 107 114 / 50%);
    --dark: #074246;
    --light: #f0f8ff;
    --white: #fff;
    --yellow: #ffc107;
    --red: #ff4500;
    --green: #228b22;
    --antique: antiquewhite;
}

body {
    background: var(--white);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.floor {
    width: 2350px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
    cursor: pointer;
    margin: 5rem auto;
    perspective: 1300px;
}

.floor *, .floor *::after, .floor *::before {
    box-sizing: content-box;
}

.floor.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.main-content {
    margin: 100px;
    display: grid;
    width: 2200px;
    height: 1300px;
    grid: repeat(26, 50px)/repeat(44, 50px);
    border: 4px solid var(--primary);
    border-width: 4px 0 0 4px;
    position: relative;
    background-color: var(--white);
    box-shadow: -8px -8px 0.6rem rgba(0 0 0 / .125);
    transition: .6s all ease-in-out;
}
.isometric {
    transform: scale(.55) translate(280px, 0px) rotate(-45deg) skew(15deg, 15deg);
}
.isometric:before {
    content: '';
    position: absolute;
    width: 48.5%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: -30px 30px #074246;
}
.isometric .main-floor:before {
    content: '';
    position: absolute;
    width: 97%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0px 30px #074246;
}
.isometric .title {
    top: -100px;
    left: -840px;
    text-shadow: -14px 9px 6px rgb(84 132 135 / 50%);
}

.main-content>div {
    position: relative;
}

.main-floor {
    grid-column: 22 / span 23;
    grid-row: 1 / span 17;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid double double solid;
}

.main-content> .door-hor1 {
    top: 0px;
    left: -272px;
    grid-column: 11 / span 1;
    grid-row: 9 / span 1;
}
.main-content> .door-hor2 {
    bottom: -46px;
    left: 40px;
    grid-column: 16 / span 1;
    grid-row: 26 / span 1;
}

.step {
    left: -2px;
    border-left: 2px solid var(--primary);
    grid-column: 8 / span 4;
    grid-row: 5 / span 2;
}
.step:before {
    content: '';
    position: absolute;
    bottom: 0;
    lefT: 0;
    width: 200px;
    height: 2px;
    background-image: linear-gradient(90deg, var(--primary), transparent);
}
.step .coffee-table {
    top: 20px;
    left: 60px;
    position: absolute;
}
.step .coffee-chair {
    width: 34px;
    height: 26px;
    top: 10px;
    left: 10px;
    position: absolute;
}
.step .coffee-chair:nth-of-type(2n) {
    transform: rotate(65deg);
    top: 10px;
    left: 110px;
}

.exit1 {    
    top: 15px;
    left: 10px;
    grid-column: 5 / span 1;
    grid-row: 8 / span 1;
}
.exit2 {
    bottom: -90px;
    left: -33px;
    grid-column: 17 / span 1;
    grid-row: 26 / span 1;
    background-color: red !important;
}

.printer1 {
    grid-column: 13 / span 1;
    grid-row: 8 / span 1;
    transform: translateY(14px);
}

.outside {
    grid-column: 1 / span 6;
    grid-row: 9 / span 18;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
}
.elevators {
    grid-column: 7 / span 4;
    grid-row: 9 / span 9;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
}

.inbetween {
    grid-column: 11 / span 8;
    grid-row: 12 / span 2;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
}

.wall1 {
    grid-column: 22 / span 1;
    grid-row: 9 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px;
    height: 160px;
    left: -4px;
}

.wall2 {
    grid-column: 22 / span 1;
    grid-row: 14 / span 4;
    border: 4px solid var(--primary);
    border-width: 4px;
    height: 210px;
    bottom: 18px;
    left: -4px;
}

.wall3 {
    grid-column: 7 / span 2;
    grid-row: 18 / span 9;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
}

.pillar1 {
    grid-column: 34 / span 1;
    grid-row: 9 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.cooler2 {
    grid-column: 33 / span 1;
    grid-row: 9 / span 1;
    top: 8px;
    right: -14px;
}

.pillar2 {
    grid-column: 44 / span 1;
    grid-row: 9 / span 1;
    border: 4px solid var(--primary);
    border-width: 4px;
}

.utility {
    grid-column: 17 / span 2;
    grid-row: 9 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
}

.utility .door-hor {
    top: -35px;
    left: 25px;
    transform: rotate(180deg);
}

.utility2 {
    grid-column: 17 / span 2;
    grid-row: 14 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
}

.utility2 .door-ver {
    right: -4px;
    top: 70px;
    transform: rotate(180deg);
}

.mens {
    grid-column: 11 / span 6;
    grid-row: 9 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.womens {
    grid-column: 11 / span 6;
    grid-row: 14 / span 3;
    border: 4px solid var(--primary);
    border-width: 4px 4px 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.mens .door-ver{
    right: -4px;
    top: 40px;
    transform: rotate(180deg);
}

.womens .door-ver {
    right: -4px;
    top: 60px;
    transform: rotate(180deg);
}

.stall {
    width: 70px;
    height: 50px;
    position: relative;
    left: -2px;
    bottom: 0;
    top: auto;
    border: 2px solid var(--primary);
    border-width: 2px 0 0 2px;
}

.womens .stall {
    bottom: auto;    
    top: -90px;
    left: auto;
    right: -2px;
    transform: rotate(180deg);
}
.stall .toilet {
    left: 20px;
}

.vanities {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}

.womens .vanities {
    position: absolute;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
}
.womens .vanities .vanity {
    border-width: 2px 2px 2px 0;
}

.vanity {
    width: 73px;
    height: 30px;
    position: relative;
    border: 2px solid var(--primary);
    border-width: 0 0 2px 2px;
    top: 2px;
    left: -2px;
}

.vanity:before {
    content: "";
    position: absolute;
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 2px var(--white), 0 0 0 3px var(--primary);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 5px;
    left: 50%;
    margin-left: -7.5px;
}

.toilet {
    width: 30px;
    height: 8px;
    position: absolute;
    border: 2px solid var(--primary);
    bottom: -2px;
    left: 40px;
}

.toilet:after {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    height: 22px;
    width: 20px;
    border-radius: 20px 20px 0 0;
    top: -26px;
    left: 50%;
    margin-left: -12px;
}

.cantina {
    grid-column: 1 / span 4;
    grid-row: 1 / span 8;
    border: 4px solid var(--primary);
    border-width: 0 4px 0 0;
}

.cantina .door-ver {
    bottom: 85px;
    right: -35px;
}

.cantina .sink {
    position: absolute;
    left: 50px;
    bottom: -58px;
    border: 2px solid var(--primary);
    width: 36px;
    height: 145px;
    transform: rotate(90deg);
}

.cantina .sink .sink-tap-1,
.cantina .sink .sink-tap-2 {
    position: absolute;
    width: 19px;
    height: 15px;
    border: 2px solid var(--primary);
    right: 9px;
    bottom: 121px;
    border-radius: 4px;
}

.cantina .sink .sink-tap-2 {
    bottom: 102px;
    height: 10px;
}

.cantina .sink .sink-tap-2:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: 1px solid var(--primary);
    right: -8px;
    top: -8px;
}

.cantina .ref {
    position: absolute;
    border: 2px solid var(--primary);
    width: 42px;
    height: 40px;
    right: 3px;
    bottom: -2px;
}

.cantina .cooler1 {
    transform: rotate(180deg);
    left: -2px;
    top: 270px;
}

.cantina .island {
    position: absolute;
    width: 100px;
    height: 45px;
    border: 2px solid var(--primary);
    top: -2px;
    left: 50px;
}

.cantina .island:before,
.cantina .island:after,
.cantina .island .chair {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -35px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    left: 5px;
    background: var(--yellow);
}

.cantina .island:after {
    left: 38px;
}

.cantina .island .chair {
    left: 70px;
}

.server {
    grid-column: 5 / span 3;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
}

.server .door-hor {
    bottom: -34px;
    left: 30%;
}
.triavna .door-hor,
.silistra .door-hor {
    bottom: -34px;
    left: 70%;
}

.triavna {
    grid-column: 8 / span 6;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid solid double solid;
}

.silistra {
    grid-column: 14 / span 6;
    grid-row: 1 / span 4;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid solid double solid;
}
.eusd {
    grid-column: 9 / span 13;
    grid-row: 17 / span 10;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px 0;
    border-style: solid double double solid;
}

.eusd .cooler3 {
    right: -2px;
    top: 15px;
    position: absolute;
}

.desks1 {
    grid-column: 22 / span 2;
    grid-row: 1 / span 5;
    top: 25px;
}
.desks1:before,
.desks3:before {
    content: '';
    position: absolute;
    width: 76px;
    height: 25px;
    top: -27px;
    left: 0;
    border: 4px solid var(--primary);
    border-width: 0 4px 4px;
    background: repeating-linear-gradient(45deg, transparent, transparent 6px, var(--primary-light) 6px, var(--primary-light) 8px);
}

.desks2 {
    grid-column: 27 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks3 {
    grid-column: 32 / span 2;
    grid-row: 1 / span 5;
    top: 25px;
}

.desks4 {
    grid-column: 37 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks5 {
    grid-column: 42 / span 2;
    grid-row: 1 / span 6;
    top: 25px;
}

.desks6 {
    grid-column: 27 / span 2;
    grid-row: 12 / span 5;
}

.desks7 {
    grid-column: 32 / span 2;
    grid-row: 12 / span 5;
}

.desks8 {
    grid-column: 37 / span 2;
    grid-row: 12 / span 5;
}
.desks9 {
    grid-column: 42 / span 2;
    grid-row: 12 / span 5;
}

.desks-left.desks10 {
    grid-column: 23 / span 2;
    grid-row: 9 / span 2;
    top: 10px;
    left: -4px;
}

.desks-left.desks11 {
    grid-column: 23/ span 2;
    grid-row: 14 / span 2;
    bottom: -20px;
    left: -4px;
}

.eusd .desks.desks-left {
    position: absolute;
    bottom: 20px;
}

.eusd .desks.desks12 {
    position: absolute;
    bottom: 20px;
    left: 220px;
}
.eusd .desks.desks13 {
    position: absolute;
    bottom: 20px;
    right: 80px;
}





/* utilities */
.room {
    /* background-color: var(--white)smoke; */
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}

.room:hover {
    background-color: var(--light);
}

.desks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 2px 2px 1rem rgba(0 0 0 / .5);
    width: 84px;
}

.desk {
    position: relative;
    background-color: var(--antique);
    transition: .15s ease-in;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 90%;
    color: #6c757d;
}

.desk:hover,
.desk:hover:after {
    background-color: var(--red);
    color: var(--white);
}
.desk:hover:after,
.desk:hover:before {
    transform: rotate(5deg);
}

.desk:before {
    content: '';
    border: 2px solid var(--primary);
    border-radius: 4px;
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: var(--white);
    box-shadow: 2px 2px 1rem rgba(0 0 0 / .5);
}

.desk:after {
    content: '';
    border: 2px solid var(--primary);
    border-radius: 4px;
    border-width: 2px 2px 2px 2px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    box-shadow: 2px 2px 1rem rgba(0 0 0 / .25);
}

.desk:nth-of-type(odd):before {
    top: 20px;
    left: -35px;
    right: auto;
}

.desk:nth-of-type(odd):after {
    top: 25px;
    left: -29px;
    right: auto;
}

.desk:nth-of-type(even):before {
    top: 20px;
    right: -35px;
    left: auto;
}
.desk:nth-of-type(even):after {
    top: 25px;
    right: -29px;
    left: auto;
}

.desk.hor:before {
    top: 56px;
    left: 35px;
    transform: rotate(90deg);
}

.desk.hor:after {
    top: 47px;
    left: 27px;
    transform: rotate(90deg);
}

.desk.hor:hover:before,
.desk.hor:hover:after {
    transform: rotate(95deg);
}

.desks .desk.hor.first {
    order: -1;
}

.desk.hor.first:before {
    top: -59px;
    transform: rotate(90deg);
}

.desk.hor.first:after {
    top: -40px;
    transform: rotate(90deg);
}
.desk.hor.first:hover:before,
.desk.hor.first:hover:after {
    transform: rotate(95deg);
}

.desks .desk:nth-of-type(odd):not(.hor) {
    width: 40px;
    height: 75px;
    border: 1px solid var(--primary);
}

.desks .desk:nth-of-type(even) {
    width: 40px;
    height: 75px;
    border: 1px solid var(--primary);
}

.desks .desk.hor {
    width: 82px;
    height: 40px;
    border: 1px solid var(--primary);
}


.desks.desks-bottom,
.desks.desks-top {
    height: 44px;
}

.desks.desks-bottom .desk:nth-of-type(n),
.desks.desks-top .desk:nth-of-type(n) {
    width: 75px;
    height: 40px;
    border: 1px solid var(--primary);
}

.desks.desks-bottom {
    margin-top: 8px;
    box-shadow: none;
}

.desks.desks-bottom .desk:nth-of-type(n):before {
    width: 30px;
    height: 4px;
}

.desks.desks-bottom .desk:nth-of-type(n):before {
    top: -36px;
    left: 20px;
}

.desks.desks-bottom .desk:nth-of-type(n):after {
    top: -30px;
    left: 25px;
}

.desks.desks-top {
    box-shadow: 2px 8px 1rem rgba(0 0 0 / .25);
}

.desks.desks-top .desk:nth-of-type(n):before {
    width: 30px;
    height: 4px;
}

.desks.desks-top .desk:nth-of-type(n):before {
    top: auto;
    bottom: -36px;
    left: 20px;
}

.desks.desks-top .desk:nth-of-type(n):after {
    top: auto;
    bottom: -30px;
    left: 25px;
}

.desks.desks-left {
    width: 42px;
}

.desks.desks-right {
    width: 42px;
    right: -8px;
    box-shadow: -2px 2px 1rem rgba(0 0 0 / .25);
}

.desks.desks-left .desk:nth-of-type(n) {
    width: 40px;
    height: 75px;
    border: 1px solid var(--primary);
}

.desks.desks-right .desk:nth-of-type(n) {
    width: 40px;
    height: 75px;
    border: 1px solid var(--primary);
}

.desks.desks-left .desk:nth-of-type(n):before {
    top: 16px;
    right: -36px;
    left: auto;
}

.desks.desks-left .desk:nth-of-type(n):after {
    top: 20px;
    right: -30px;
    left: auto;
}

.desks.desks-right .desk:nth-of-type(n):before {
    top: 20px;
    left: -35px;
    right: auto;
}

.desks.desks-right .desk:nth-of-type(n):after {
    top: 25px;
    left: -29px;
    right: auto;
}

.desk.empty {
    border: 1px solid rgba(9, 107, 114);
}

.desk.empty:hover {
    background: inherit;
    pointer-events: none;
}

.desk.empty:before,
.desk.empty:after {
    display: none;
}

.desks.noshadow {
    box-shadow: none;
}
.desk.shadow {
    box-shadow: 2px 2px 1rem rgba(0 0 0 / .25);
}


.desk.red:nth-of-type(n):after {
    background: var(--red);
}
.desk.yellow:nth-of-type(n):after {
    background: var(--yellow);
}
.desk.green:nth-of-type(n):after {
    background: var(--green);
}
.desk.red:before,
.desk.yellow:before,
.desk.green:before {
    z-index: 1;
}
.desk.red:after,
.desk.yellow:after,
.desk.green:after {
    z-index: 0;
}


.window-hor {
    position: absolute;
    top: -6px;
    height: 6px;
    border: 2px solid var(--primary);
    width: 80px;
    background: #e2f0f1;
    z-index: 10;
}

.window-ver {
    position: absolute;
    right: -6px;
    top: 8px;
    height: 140px;
    border: 2px solid var(--primary);
    width: 6px;
    background: #e2f0f1;
}

.wall-gap {
    position: absolute;
    background: var(--white);
    width: 4px;
    height: 40px;
}

.door-hor {
    position: absolute;
    width: 45px;
    height: 35px;
    overflow: hidden;
    z-index: 10;
    background-color: var(--white);
    clip-path: circle(116% at 7% -39%);
}

.door-hor:before {
    content: "";
    position: absolute;
    background: var(--white);
    width: 2px;
    height: 31px;
    border: 1px solid var(--primary);
}

.door-hor:after {
    content: "";
    position: absolute;
    width: inherit;
    height: 80px;
    width: 130px;
    right: -1px;
    bottom: -0.5px;
    border-radius: 50%;
    border: 1px solid var(--primary);
}


.door-ver {
    position: absolute;
    height: 45px;
    width: 35px;
    overflow: hidden;
    z-index: 10;
    background-color: var(--white);
    clip-path: circle(123% at -43% -3%);
}

.door-ver:before {
    content: "";
    position: absolute;
    background: var(--white);
    height: 2px;
    width: 31px;
    border: 1px solid var(--primary);
}

.door-ver:after {
    content: "";
    position: absolute;
    width: inherit;
    width: 80px;
    height: 130px;
    right: -1px;
    bottom: 0.5px;
    border-radius: 50%;
    border: 1px solid var(--primary);
}

.room:hover .door-hor {
    clip-path: circle(123% at 100% -41%);
    transition: .2s ease-in;
}
.room:hover .door-hor:before {
    transform: rotate(-42deg) translate(8px, 4px);
    transition: .2s ease-in;
}
.room:hover .door-ver {
    clip-path: circle(123% at -53% 67%);
    transition: .2s ease-in;
}
.room:hover .door-ver:before {
    transform: rotate(29deg) translate(2px, 7px);
    transition: .2s ease-in;
}
.room:hover .door-hor:after{
    background: linear-gradient(var(--light) 0%, var(--light) 35%,  transparent);
}
.room:hover .door-ver:after {
    background: linear-gradient(90deg, var(--light) 0%, var(--light) 35%,  transparent);
}

.name {
    font: 600 14px/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: rgb(9 107 114 / 0.75);
    position: absolute;
    text-align: center;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s color ease-in;
}

.room:hover .name {
    color: rgb(9 107 114 / 1);
    text-shadow: 0 0 3px rgba(0 0 0 / .125);
}

.room .amenities {
    color: rgb(9 107 114 / 0.75);
    position: absolute;
    text-align: center;
    z-index: 29;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s opacity ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    opacity: 0;
}
.room:hover .amenities {
    opacity: 1;
}
.room .amenities i {
    font-size: 1.25rem;    
    margin: 0 .5rem;
}

.printer {
    border: 2px solid var(--primary);
    width: 30px;
    height: 30px;    
    background: var(--yellow);
}
.printer:before {
    content: '';
    position: absolute;
    border: 2px solid var(--primary);
    width: 12px;
    height: 20px;
    left: 3px;
    bottom: 2px;
    background: repeating-linear-gradient(90deg, var(--white), var(--white) 2px, var(--primary-light) 2px, var(--primary-light) 4px)
}
.printer:after {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    width: 3px;
    height: 20px;
    left: 30px;
    bottom: 2px;
}
.printer:hover {
    background-color: #ff9c07;
}

.cooler {
    position: relative;
    border: 2px solid var(--primary);
    width: 30px;
    height: 30px;    
    background: var(--yellow);
}
.cooler:before {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    width: 3px;
    height: 3px;
    left: -7px;
    bottom: 11px;
}
.cooler:after {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #ccefff;
}

.exit {
    background: var(--green);
    color: var(--white);
    padding: 5px 10px;
    width: 70px;
    height: 15px;
    font: 600 14px/1 "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .12s all ease-in;    
} 
.exit:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 4px rgba(0 0 0 / .5)
}
.exit:hover i[class*=arrow] {
    transform: rotate(360deg);
    transition: .3s transform ease-in;
}

.shadow {
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}

.title {
    top: -83px;
    left: -880px;
    width: 100vw;
    font-size: 5em;
    font-weight: 900;
    color: var(--primary);
    z-index: -1;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe Condensed","Roboto Condensed","AvenirNextCondensed-Bold","Futura-CondensedExtraBold","Ubuntu Condensed","Liberation Sans Narrow","Fira Sans Condensed","Open Sans Condensed","Helvetica Neue Condensed","Arial Narrow",sans-serif-condensed,sans-serif;
    font-stretch: condensed;
}

.sofa {
    width: 130px;
    height: 40px;
    bottom: -358px;
    right: 560px;
    position: absolute;
    border: 2px solid var(--primary);
    border-radius: 8px 8px 0 0;
    background: var(--yellow);
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}

.sofa:before {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    border-width: 0 2px 2px;
    width: 80%;
    height: 70%;
    left: 8%;
    border-radius: 0 0 4px 4px;
    background: var(--white);
}

.sofa:after {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    width: 30px;
    height: 30px;
    transform: rotate(60deg);
    left: -50px;
    bottom: 50px;
    border-radius: 6px;
    background: var(--yellow);
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}
.big-coffee-table {
    width: 110px;
    height: 40px;
    bottom: -250px;
    right: 500px;
    position: absolute;
    border: 2px solid var(--primary);
    background: var(--white);
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}
.big-coffee-table:after {
    content: "";
    position: absolute;
    border: 2px solid var(--primary);
    width: 30px;
    height: 30px;
    transform: rotate(21deg);
    right: -55px;
    bottom: -6px;
    border-radius: 6px;
    background: var(--yellow);
    box-shadow: -2px 2px 0.6rem rgba(0 0 0 / .25);
}

.coffee-table {
    width: 30px;
    height: 30px;    
    z-index: 25;
    border-radius: 50%;
    border: 2px solid var(--primary);
    background: var(--white);
}

.coffee-chair {
    width: 34px;
    height: 26px;
    border-radius: 20px 20px 0 0;
    border: 2px solid var(--primary);
    background: var(--yellow);
    z-index: 25;
    transform: rotate(-65deg);
}

.coffee-chair:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 82%;
    border-radius: inherit;
    background: var(--white);
    bottom: 0;
    left: 10%;
    border: 1px solid var(--primary);
    border-width: 1px 1px 0;
}



.wall {
    background: repeating-linear-gradient(45deg, transparent, transparent 6px, var(--primary-light) 6px, var(--primary-light) 8px);
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
.icon i {
    text-align: center;
    width: 1.25em;
    font-size: 1.5em;
    line-height: .75em;
    vertical-align: -.0667em;
}

.office-amenities {
    visibility: none;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.office-amenities.show {
    visibility: visible;
    opacity: 1;
    user-select: inherit;
    pointer-events: all;
    transition: .1s all ease-in-out;
}

.switches {
    padding: 10px 30px;
    z-index: 999;
    width: 100vw;
}

.fire-ext {
    grid-column: 8 / span 1;
    grid-row: 8 / span 1;
    transform: translateY(20px);
    --fa-primary-color: var(--red);
    --fa-secondary-opacity: 1;
}
