<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 m-3">
    <h3><span id="checked-view">ETC Building D</span> Information</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="form-inline">
            <div class="form-group mx-sm-1 mb-2">
                <div class="show-additional-information btn btn-outline-primary form-control">
                    <label><i class="icon-filter"></i> Show Additional Information</label>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="refreshMenuLabel" class="">Refresh:</label>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <select class="form-control" id="refreshMenu">
                    <option value="none">none</option>
                    <option value="5">5 minutes</option>
                    <option value="10">10 minutes</option>
                    <option value="15">15 minutes</option>
                </select>
                <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> -->
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <a href="#" class="btn btn-outline-primary form-control" id="refresh"><i class="fa fa-refresh"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="box-content pb-2 m-3">
    <div class="box-content nopadding">
        <form action="#" method="POST" class="form-horizontal form-column form-bordered form-condensed">
            <div class="row-fluid">
                <div class="span12">

                    

                    <div class="additional-information hidden-information mt-2">
                        <div name="initial">
                            <div class="control-group">
                                <div class="controls">
                                    <span>Total places: </span>
                                    <span class="centered-text-percent" id="allPlaces">0 / 100</span>
                                    <progress id="all" value="0" max="100"></progress>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <span>Open area places: </span>
                                    <span class="centered-text-percent" id="openAreaPlaces">0 / 100</span>
                                    <progress id="openArea" value="0" max="100"></progress>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <span>Offices places: </span>
                                    <span class="centered-text-percent" id="roomPlaces">0 / 100</span>
                                    <progress id="rooms" value="0" max="100"></progress>
                                </div>
                            </div>
                        </div>
                        <div name="secondary">
                            <div class="control-group pl-3 pr-3" style="background-color: #E8E8E8;">
                                <label for="textfield" class="control-label" style="width: 180px;">All total places</label>
                                <div class="controls" style="background-color: #E8E8E8;">
                                    <span id="allPlacesTotal" class="centered-text-percent">0 / 100</span>
                                    <progress id="allTotalPlaces" value="0" max="100"></progress>
                                </div>
                            </div>
                            <div class="control-group pl-3 pr-3" style="background-color: #E8E8E8;">
                                <label for="textfield" class="control-label" style="width: 180px;">All total open
                                    area
                                    places</label>
                                <div class="controls" style="background-color: #E8E8E8;">
                                    <span id="allTotalOpenAreaPlaces" class="centered-text-percent">0 / 100</span>
                                    <progress id="allTotalOpenAreaPlacesProgress" value="0" max="100"></progress>
                                </div>
                            </div>
                            <div class="control-group pl-3 pr-3" style="background-color: #E8E8E8;">
                                <label for="textfield" class="control-label" style="width: 180px;">All total
                                    offices
                                    places</label>
                                <div class="controls" style="background-color: #E8E8E8;">
                                    <span id="allTotalOfficesPlaces" class="centered-text-percent">0 / 100</span>
                                    <progress id="allTotalOfficesPlacesProgress" value="0" max="100"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>