
main {
 /* background: rgba(0,0,0,.6) url("/getattachment/5744eddf-185d-46c8-81b7-e41d195c74c3/Concrete-dark.jpg.aspx") repeat-y center center;
  background-blend-mode: color;*/
  background: rgba(0,0,0,.6) url("/getattachment/e2f60f26-706e-4a19-a8d4-eedab3d9b8af/Concrete-dark.jpg.aspx") repeat-y center center;
}

.intro-text {
  padding: 4rem 0;
}

.bg-light-2 {
  background: rgba(248,249,250,.2)!important;
}

#product-container {
  max-width: 1648px;
  width: 90%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.carousel,
.text-conditions {
  color: #cecfd1 !important;  
}
  
.custom .checked[type="checkbox"]+label:before, 
.custom .checked[type="checkbox"]+label:after {
  top: -4px;
  left: -5px;
  width: 10px;
  height: 18px;
  border: none;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #cecfd1!important;
  border-bottom: 2px solid #cecfd1 !important;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background-color: transparent;
}
  
  .custom [type="radio"]+label:before, 
  .custom [type="radio"]+label:after {
    border: 2px solid #cecfd1;
    background-color: transparent;
  }
  
  .custom .checked[type="radio"]+label:after {
    background-color: #cecfd1;
    border: 2px solid #cecfd1;
  }

  .carousel .btn-outline-light {
    color: #cecfd1;
    border-color: #cecfd1;
  }

  .carousel .btn-outline-light:hover {
    color: #212529;
    background-color: #cecfd1;
    border-color: #cecfd1;
  }


  @media  (max-width: 1200px){
    .hero-content .display-3 {
      font-size: 2rem !important;
    }

  @media  (max-width: 768px){
    .hero-content {
      top: auto !important;
      bottom: 0;
      height: auto !important;
      padding: 0 !important;      
    }

    .hero-content .bg-dark-7 {
      width: 100%;
    }

  }

  @media (min-width: 768px) and (max-width: 992px){
    .header-img {
      height:40vh !important;
    }
    
  } 
 
  

